<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm sách</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
	<style>
		
		body { background-color: #f2fbff }
		
		h3 {
        	text-align: center;
        	margin-top: 0px;
        	margin-bottom: 20px;  
        	color: rgb(2,88,155);     	
    	}
		.container-body {
    		border-radius: 20px;
    		margin-left: 40px;
    		margin-right: 40px;
    		margin-top: 40px;
    		margin-bottom: 40px;
    		padding: 30px;
    		box-shadow: 0 8px 10px rgb(226, 226, 226);
		}
		
		.btn-save {
			background-color: rgb(2,88,155);
			border-radius: 10px;
			color: white;
			margin-bottom: 20px;
			margin-top: 20px;
		}
		.btn-save:hover {
			color: rgb(182,232,241)
		}
		
		.container-body {
			box-shadow: 0 8px 10px rgb(226, 226, 226);
		}
		
		.material-symbols-outlined.back {
			color: rgb(2,88,155);
		}
		
		.material-symbols-outlined.back:hover {
			color: rgb(182,232,241);
		}

		.btn-save {
			background-color: white;
			border-radius: 10px;
			color: #3f6ad8;
			box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.5);
			font-weight: bold;
		}
		.btn-save:hover {
			color: white;
            background-color: #3f6ad8;
			box-shadow: 0px 4px 6px rgba(70, 130, 180, 0.3);
			font-weight: bold
		}

    </style>
    <script>
	var loadFile1 = function(event) {
	    var output = document.getElementById('output1');
	    output.src = URL.createObjectURL(event.target.files[0]);
	    output.onload = function() {
	        URL.revokeObjectURL(output.src) // free memory
	    }
	};
	</script>
	<script>
	var loadFile2 = function(event) {
	    var output = document.getElementById('output2');
	    output.src = URL.createObjectURL(event.target.files[0]);
	    output.onload = function() {
	        URL.revokeObjectURL(output.src) // free memory
	    }
	};
	</script>
	<script>
	var loadFile3 = function(event) {
	    var output = document.getElementById('output3');
	    output.src = URL.createObjectURL(event.target.files[0]);
	    output.onload = function() {
	        URL.revokeObjectURL(output.src) // free memory
	    }
	};
	</script>
	<script>
	var loadFile4 = function(event) {
	    var output = document.getElementById('output4');
	    output.src = URL.createObjectURL(event.target.files[0]);
	    output.onload = function() {
	        URL.revokeObjectURL(output.src) // free memory
	    }
	};
	</script>
</head>
<body>
	<div th:replace="~{admin/headeradmin :: header}"></div>
	<div class="container-expand d-flex" style="margin: 0px; padding: 0px; width: 100%">
		<div class="col-03" style="width: 17%">
			<div th:replace="~{admin/sidebar :: sidebar}"></div>
		</div>


		<div class="col-08" style="width: 83%">
			<!-- Hiển thị thông báo nếu có -->
			<div th:if="${param.message}" class="alert"
				 th:classappend="${#strings.containsIgnoreCase(param.message, 'thành công') ? 'alert-success' : 'alert-danger'}">
				<span th:text="${param.message}"></span>
			</div>
			<div class="container-body" style="background-color: white;">
				<div class="row-00 d-flex align-items-center" style="height: 30px; margin-bottom: 15px; margin: 0px 0px 0px">
					<div class="col-00" style="display: flex; align-items: center;">
						<a th:href="@{/managebooks}" class="before" style="align-items: center; display: flex; text-decoration: none;">
							<span class="material-symbols-outlined back">arrow_back_ios</span>
						</a>
						<h6 style="color: #3f6ad8; align-items: center;  margin: 0px 5px 0px 0px; font-family: Verdana; font-weight: bold">Thêm sách</h6>
					</div>
				</div>
				<div class="frame-body" style="padding-top: 20px">
					<form th:action="@{/addbook}" method="POST" enctype="multipart/form-data">
						<div class="row-content d-flex">
							<div class="col-7" style="padding-left: 0px">
								<div class="form-group">
									<label for="name" >Tên sách:</label>
									<input type="text" class="form-control" style="border-radius: 50px;" id="name" name="name" required>
								</div>
								<div class="row-01 d-flex align-items-center" style="margin-top: 15px">
									<div class="col-6" style="padding: 0px 10px 0px 0px">
										<div class="form-group">
											<label for="category" >Danh mục:</label>
											<select class="form-control" id="category" name="categoryId" required style="border-radius: 50px;">
												<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
											</select>
										</div>
									</div>
									<div class="col-6" style="padding: 0px 0px 0px 10px">
										<div class="form-group">
											<label for="publisher">Nhà xuất bản:</label>
											<input type="text" class="form-control" style="border-radius: 50px;" id="publisher" name="publisher" required>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="authorsIds" >Tác giả:</label>
									<select multiple class="form-control" id="authorsIds" name="authorsIds" required style="border-radius: 10px;">
										<option th:each="author : ${allAuthors}" th:value="${author.id}">
											<span th:text="${author.name}"></span>
										</option>
									</select>
								</div>

								<div class="row-01 d-flex align-items-center" style="margin-top: 15px">
									<div class="col-6" style="padding: 0px 10px 0px 0px">
										<div class="form-group">
											<label for="costPrice" >Giá nhập:</label>
											<input type="number" class="form-control" id="costPrice" name="costPrice" min="0" required style="border-radius: 50px;">
										</div>
									</div>
									<div class="col-6" style="padding: 0px 0px 0px 10px">
										<div class="form-group">
											<label for="sellPrice" >Giá bán:</label>
											<input type="number" class="form-control" id="sellPrice" name="sellPrice" min="0"  required style="border-radius: 50px;">
										</div>
									</div>
								</div>

								<div class="row-01 d-flex align-items-center" style="margin-top: 15px">
									<div class="col-6" style="padding: 0px 10px 0px 0px">
										<div class="form-group">
											<label for="quantity" >Số lượng:</label>
											<input type="number" id="quantity" name="quantity" style="border-radius: 50px;" class="form-control" min="0" required>
										</div>
									</div>
									<div class="col-6" style="padding: 0px 0px 0px 10px">
										<div class="form-group">
											<label for="status" >Trạng thái:</label>
											<select class="form-control" id="status" name="status" style="border-radius: 50px;">
												<option value="0">Ngừng kinh doanh</option>
												<option value="1">Đang kinh doanh</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-5" style="padding-right: 0px">
								<div class="form-group">
									<label for="detail" >Chi tiết</label>
									<textarea class="form-control"  style="border-radius: 10px; resize: none;" id="detail" name="detail" rows="7" required></textarea>
								</div>
								<div class="form-group">
									<label for="description" >Giới thiệu sách</label>
									<textarea class="form-control" style="border-radius: 10px; resize: none;" id="description" name="description" rows="9" required></textarea>
								</div>
							</div>
						</div>

						<div class="row-img d-flex">
							<div class="col">
								<div class="form-group">
									<label for="image1" >Ảnh 1:</label>
									<input type="file" class="form-control-file" id="image1" name="image1" accept="image/*" onchange="loadFile1(event)" style="margin-bottom: 10px ;" required>
									<div style="display: flex; justify-content: center; align-items: center;">
										<img id="output1" width="100"/>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<label for="image2" >Ảnh 2:</label>
									<input type="file" class="form-control-file" id="image2" name="image2" accept="image/*" onchange="loadFile2(event)" style="margin-bottom: 10px ;" required>
									<div style="display: flex; justify-content: center; align-items: center;">
										<img id="output2" width="100"/>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<label for="image3" >Ảnh 3:</label>
									<input type="file" class="form-control-file" id="image3" name="image3" accept="image/*" onchange="loadFile3(event)" style="margin-bottom: 10px ;" required>
									<div style="display: flex; justify-content: center; align-items: center;">
										<img id="output3" width="100"/>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<label for="image4" >Ảnh 4:</label>
										<input type="file" class="form-control-file" id="image4" name="image4" accept="image/*" onchange="loadFile4(event)" style="margin-bottom: 10px ;" required>
									<div style="display: flex; justify-content: center; align-items: center;">
										<img id="output4" width="100"/>
									</div>
								</div>
							</div>
						</div>

						<div class="text-center">
							<button type="submit" class="btn btn-save">Lưu</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!--<div th:replace="~{admin/footeradmin :: footer}"></div>-->

</body>
</html>