<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm đợt giảm giá</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        body { background-color: #f8f9fa  }
        th, td { text-align: center; }
        h3 {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 20px;
            color: rgb(2,88,155);
        }
        .container-body {
            border-radius: 20px;
            margin-left: 70px;
            margin-right: 70px;
            padding: 20px;
            box-shadow: 0 8px 10px rgb(226, 226, 226);
        }

        .btn-create {
			background-color: white;
			border-radius: 10px;
			color: #3f6ad8;
			box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.5);
			font-weight: bold;
		}
		.btn-create:hover {
			color: white;
            background-color: #3f6ad8;
			box-shadow: 0px 4px 6px rgba(70, 130, 180, 0.3);
			font-weight: bold
		}

        .material-symbols-outlined.back {
            color: rgb(2,88,155);
        }
        .material-symbols-outlined.back:hover {
            color: rgb(182,232,241);
        }

    </style>
</head>
<body>
<div th:replace="~{admin/headeradmin :: header}"></div>
<div class="container-expand d-flex" style="margin: 0px; padding: 0px; width: 100%">
    <div class="col-03" style="width: 17%">
        <div th:replace="~{admin/sidebar :: sidebar}"></div>
    </div>

    <!-- Hiển thị thông báo nếu có -->
    <div th:if="${param.message}" class="alert"
         th:classappend="${#strings.containsIgnoreCase(param.message, 'thành công') ? 'alert-success' : 'alert-danger'}">
        <span th:text="${param.message}"></span>
    </div>
    <div class="col-08" style="width: 83%; display: flex; justify-content: center; align-items: center; height: 90vh;">
            <div class="container-body" style="background-color: white;">
                <div class="row-00 d-flex align-items-center" style="height: 30px; margin-bottom: 15px; margin: 0px 0px 0px">
                    <div class="col-00" style="display: flex; align-items: center;">
                        <a th:href="@{/managediscounts}" class="before" style="align-items: center; display: flex; text-decoration: none;">
                            <span class="material-symbols-outlined back">arrow_back_ios</span>
                        </a>
                        <h6 style="color: #3f6ad8; align-items: center;  margin: 0px 5px 0px 0px; font-family: Verdana; font-weight: bold">Thêm đợt giảm giá</h6>
                    </div>
                </div>
                <div class="frame-body">
                    <form th:action="@{/adddiscount}" method="post">

                        <div class="row-01 d-flex align-items-center" style="margin: 15px 0px">
                            <div class="form-group" style="width: 908.8px">
                                <label for="categoryId" >Danh mục:</label>
                                <select class="form-control" id="categoryId" name="categoryId" required style="border-radius: 50px;">
                                    <option value="">-- Chọn danh mục --</option>
                                    <option th:each="category : ${allCategories}" th:value="${category.id}" th:text="${category.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row-01 d-flex align-items-center" style="margin: 15px 0px">
                            <div class="form-group">
                                <label for="bookId" >Sách:</label>
                                <select class="form-control" id="bookId" name="bookId" required style="border-radius: 50px;">
                                    <option value="">-- Chọn sách --</option>
                                    <option th:each="book : ${allBooks}" th:value="${book.id}">
                                        <span th:text="${book.id} + ' - '"></span>
                                        <span th:if="${book.currentDiscount != null}" th:text="'(Đã giảm) '"></span>
                                        <span th:text="${book.name}"></span>
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row-01 d-flex align-items-center" style="margin-top: 15px">
                            <div class="col-3" style="padding: 0px 10px 0px 0px">
                                <!-- Ô input cho ngày bắt đầu -->
                                <div class="form-group">
                                    <label for="startDate">Ngày bắt đầu:</label>
                                    <input type="date" class="form-control" id="startDate" name="startDate" required style="border-radius: 50px;"/>
                                </div>
                            </div>
                            <div class="col-3" style="padding: 0px 10px 0px 10px">
                                <!-- Ô input cho giờ bắt đầu -->
                                <div class="form-group">
                                    <label for="startTime">Giờ bắt đầu:</label>
                                    <input type="time" class="form-control" id="startTime" name="startTime" required style="border-radius: 50px;"/>
                                </div>
                            </div>
                            <div class="col-3" style="padding: 0px 10px 0px 10px">
                                <!-- Ô input cho ngày kết thúc -->
                                <div class="form-group">
                                    <label for="endDate">Ngày kết thúc:</label>
                                    <input type="date" class="form-control" id="endDate" name="endDate" required style="border-radius: 50px;"/>
                                </div>
                            </div>
                            <div class="col-3" style="padding: 0px 0px 0px 10px">
                                <!-- Ô input cho giờ kết thúc -->
                                <div class="form-group">
                                    <label for="endTime">Giờ kết thúc:</label>
                                    <input type="time" class="form-control" id="endTime" name="endTime" required style="border-radius: 50px;"/>
                                </div>
                            </div>
                        </div>
                        <div class="row-01 d-flex align-items-center" style="margin: 15px 0px">
                            <div class="col-6" style="padding: 0px 10px 0px 0px">
                                <div class="form-group">
                                    <label for="discountPercent" >Tỷ lệ % giảm giá (nhập 10, 15, 20, 25,...):</label>
                                    <input type="number" class="form-control" id="discountPercent" name="discountPercent" min="1" max="100" step="1" placeholder="ví dụ: 10, 15, 20" required style="border-radius: 50px;" />
                                </div>
                            </div>
                            <div class="col-6" style="padding: 0px 0px 0px 10px">
                                <div class="form-group">
                                    <label for="status">Trạng thái:</label>
                                    <select class="form-control" id="status" name="status" style="border-radius: 50px;" required >
                                        <option value="">-- Chọn --</option>
                                        <option value="1">Áp dụng</option>
                                        <option value="2">Chưa áp dụng</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-create" style="margin: 0px 0px 10px 0px">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
    // Khi người dùng thay đổi lựa chọn trong danh sách dropdown sách
    document.getElementById('bookId').addEventListener('change', function() {
        // Nếu người dùng chọn một cuốn sách cụ thể
        if (this.value !== "") {
            // Vô hiệu hóa danh sách dropdown danh mục
            document.getElementById('categoryId').disabled = true;
        } else {
            // Nếu không, kích hoạt lại danh sách dropdown danh mục
            document.getElementById('categoryId').disabled = false;
        }
    });

    // Tương tự, khi người dùng thay đổi lựa chọn trong danh sách dropdown danh mục
    document.getElementById('categoryId').addEventListener('change', function() {
        // Nếu người dùng chọn một danh mục cụ thể
        if (this.value !== "") {
            // Vô hiệu hóa danh sách dropdown sách
            document.getElementById('bookId').disabled = true;
        } else {
            // Nếu không, kích hoạt lại danh sách dropdown sách
            document.getElementById('bookId').disabled = false;
        }
    });
</script>


<!--<div th:replace="~{admin/footeradmin :: footer}"></div>-->
</body>

</html>