<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm voucher</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        body { background-color: #f2fbff  }
        th, td { text-align: center; }
        h3 {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 20px;
            color: rgb(2,88,155);
        }
        .container-body {
            border-radius: 20px;
            padding: 20px;
            box-shadow: 0 8px 10px rgb(226, 226, 226);
            width: 1100px;
        }

        .material-symbols-outlined.back {
            color: rgb(2,88,155);
        }
        .material-symbols-outlined.back:hover {
            color: rgb(182,232,241);
        }

        .btn-create {
			background-color: white;
			border-radius: 10px;
			color: #3f6ad8;
			box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.5);
			font-weight: bold;
		}
		.btn-create:hover {
			color: white;
            background-color: #3f6ad8;
			box-shadow: 0px 4px 6px rgba(70, 130, 180, 0.3);
			font-weight: bold
		}

        /* Style cho pop up */
        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            z-index: 9999;
            height: 120px;
        }
		/* Style cho lớp phủ */
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9998;
        }

		.btn-close-popup {
			border: none;
			border-radius: 10px;
			margin: 15px;
			background-color: #3f6ad8;
			color: white;
			font-weight: bold;
			width: 50px;
			height: 35px;
		}
		.btn-close-popup:hover {
			color: white;
		}
    </style>
</head>
<body>
    <div th:replace="~{admin/headeradmin :: header}"></div>
    <div class="container-expand d-flex" style="margin: 0px; padding: 0px; width: 100%">
        <div class="col-03" style="width: 17%">
            <div th:replace="~{admin/sidebar :: sidebar}"></div>
        </div>

        <div class="col-08" style="width: 83%; display: flex; justify-content: center; align-items: center; height: 90vh;">
            <!-- Lớp phủ -->
            <div class="overlay" id="overlay"></div>

            <!-- Hiển thị thông báo nếu có -->
            <div th:if="${param.message}" class="popup" id="popup">
                <div class="row-announce">
                    <span style="color: #5b5a7a; font-weight: bold;" th:text="${param.message}"></span>
                </div>
                <div class="row-close d-flex align-items-center justify-content-center">
                    <button class="btn btn-close-popup" onclick="closePopup()">Ok</button>
                </div>
            </div>
            <div class="container-body" style="background-color: white;">
                <div class="row-00 d-flex align-items-center" style="height: 30px; margin-bottom: 15px; margin: 0px 0px 0px">
                    <div class="col-00" style="display: flex; align-items: center;">
                        <a th:href="@{/managevouchers}" class="before" style="align-items: center; display: flex; text-decoration: none;">
                            <span class="material-symbols-outlined back">arrow_back_ios</span>
                        </a>
                        <h6 style="color: #3f6ad8; align-items: center;  margin: 0px 5px 0px 0px; font-family: Verdana; font-weight: bold">Thêm Voucher</h6>
                    </div>
                </div>
                <div class="frame-body">
                    <form th:action="@{/addvoucher}" method="post">
                        <div class="row-01 d-flex align-items-center" style="margin-top: 15px; font-family: nunito-sans, sans-serif, Helvetica, Arial;">
                            <div class="col-3" style="padding: 0px 10px 0px 0px">
                                <div class="form-group">
                                    <label for="code" >Mã code:</label>
                                    <input type="text" class="form-control" id="code" name="code" required style="border-radius: 50px;" />
                                </div>
                            </div>
                            <div class="col-3" style="padding: 0px 10px 0px 10px">
                                <div class="form-group">
                                    <label for="quantity" >Số lượng:</label>
                                    <input type="number" class="form-control" id="quantity" name="quantity" min="1" step="1" required style="border-radius: 50px;" />
                                </div>
                            </div>
                            <div class="col-6" style="padding: 0px 0px 0px 10px">
                                <div class="form-group">
                                    <label for="status">Trạng thái:</label>
                                    <select class="form-control" id="status" name="status" style="border-radius: 50px;" required>
                                        <option value="">-- Chọn --</option>
                                        <option value="1">Áp dụng</option>
                                        <option value="2">Chưa áp dụng</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row-01 d-flex align-items-center" style="margin-top: 15px; font-family: nunito-sans, sans-serif, Helvetica, Arial;">
                            <div class="col-3" style="padding: 0px 10px 0px 0px">
                                <div class="form-group" style="margin: 0px">
                                    <label for="applyToAllBooks" >Áp dụng cho:</label><br>
                                    <input type="radio" id="applyToAllBooks" name="applyTo" value="allBooks" checked>
                                    <label for="applyToAllBooks">Tất cả sách</label><br>
                                    <input type="radio" id="applyToCategory" name="applyTo" value="category">
                                    <label for="applyToCategory">Danh mục cụ thể</label><br>
                                </div>
                            </div>
                            <div class="col-9" style="padding: 0px 0px 0px 10px">
                                <div class="form-group">
                                    <label for="categoryId" >Danh mục:</label>
                                    <select class="form-control" id="categoryId" name="categoryId" required style="border-radius: 50px;">
                                        <option value="">-- Chọn danh mục --</option>
                                        <option th:each="category : ${allCategories}" th:value="${category.id}" th:text="${category.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row-01 d-flex align-items-center" style="margin-top: 15px; font-family: nunito-sans, sans-serif, Helvetica, Arial;">
                            <div class="col-3" style="padding: 0px 10px 0px 0px">
                                <!-- Ô input cho ngày bắt đầu -->
                                <div class="form-group">
                                    <label for="startDate">Ngày bắt đầu:</label>
                                    <input type="date" class="form-control" id="startDate" name="startDate" required style="border-radius: 50px;" />
                                </div>

                            </div>
                            <div class="col-3" style="padding: 0px 10px 0px 10px">
                                <!-- Ô input cho giờ bắt đầu -->
                                <div class="form-group">
                                    <label for="startTime">Giờ bắt đầu:</label>
                                    <input type="time" class="form-control" id="startTime" name="startTime" required style="border-radius: 50px;" />
                                </div>
                            </div>
                            <div class="col-3" style="padding: 0px 10px 0px 10px">
                                <!-- Ô input cho ngày kết thúc -->
                                <div class="form-group">
                                    <label for="endDate">Ngày kết thúc:</label>
                                    <input type="date" class="form-control" id="endDate" name="endDate" required style="border-radius: 50px;" />
                                </div>

                            </div>
                            <div class="col-3" style="padding: 0px 0px 0px 10px">
                                <!-- Ô input cho giờ kết thúc -->
                                <div class="form-group">
                                    <label for="endTime">Giờ kết thúc:</label>
                                    <input type="time" class="form-control" id="endTime" name="endTime" required style="border-radius: 50px;" />
                                </div>
                            </div>
                        </div>

                        <div class="row-01 d-flex align-items-center" style="margin: 15px 0px; font-family: nunito-sans, sans-serif, Helvetica, Arial;">
                            <div class="col-3" style="padding: 0px 10px 0px 0px">
                                <div class="form-group">
                                    <label for="minimumOrderValue">Giá trị đơn hàng tối thiểu:</label>
                                    <input type="number" class="form-control" id="minimumOrderValue" name="minimumOrderValue" min="1000" step="0.01" required style="border-radius: 50px;" />
                                </div>
                            </div>
                            <div class="col-3" style="padding: 0px 10px 0px 10px">
                                <div class="form-group">
                                    <label for="discountPercent">Tỷ lệ % giảm giá:</label>
                                    <input type="number" class="form-control" id="discountPercent" name="discountPercent" min="1" max="100" step="1" placeholder="ví dụ: 10, 15,..." required style="border-radius: 50px;" />
                                </div>
                            </div>
                            <div class="col-3" style="padding: 0px 0px 0px 10px">
                                <div class="form-group">
                                    <label for="maxDiscountAmount">Tối đa:</label>
                                    <input type="number" class="form-control" id="maxDiscountAmount" name="maxDiscountAmount" min="1000" step="0.01" placeholder="ví dụ: 10000, 20000,..." required style="border-radius: 50px;" />
                                </div>
                            </div>
                            <div class="col-3" style="padding: 0px 0px 0px 10px">
                                <div class="form-group">
                                    <label for="amountDiscount">Số tiền giảm giá:</label>
                                    <input type="number" class="form-control" id="amountDiscount" name="amountDiscount" min="1000" step="0.01" placeholder="ví dụ: 10000, 20000,..." required style="border-radius: 50px;" />
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-create" style="margin: 0px 0px 15px 0px ; width: 180px">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
        // Lắng nghe sự kiện thay đổi trên radio button
        document.querySelectorAll('input[type=radio][name=applyTo]').forEach(function(radio) {
            radio.addEventListener('change', function() {
                if (this.value === 'allBooks') {
                    document.getElementById('categoryId').disabled = true;
                } else if (this.value === 'category') {
                    document.getElementById('categoryId').disabled = false;
                }
            });
        });

        // Kiểm tra trạng thái ban đầu của radio button khi trang được tải
        window.onload = function() {
            if (document.getElementById('applyToAllBooks').checked) {
                document.getElementById('categoryId').disabled = true;
            } else if (document.getElementById('applyToCategory').checked) {
                document.getElementById('categoryId').disabled = false;
            }
        };

        // Lắng nghe sự kiện nhập vào trên discountPercent, maxDiscountAmount và amountDiscount
        document.getElementById('discountPercent').addEventListener('input', function() {
            if (this.value !== '') {
                document.getElementById('amountDiscount').disabled = true;
            } else if (document.getElementById('maxDiscountAmount').value === '') {
                document.getElementById('amountDiscount').disabled = false;
            }
        });

        document.getElementById('maxDiscountAmount').addEventListener('input', function() {
            if (this.value !== '') {
                document.getElementById('amountDiscount').disabled = true;
            } else if (document.getElementById('discountPercent').value === '') {
                document.getElementById('amountDiscount').disabled = false;
            }
        });

        document.getElementById('amountDiscount').addEventListener('input', function() {
            if (this.value !== '') {
                document.getElementById('discountPercent').disabled = true;
                document.getElementById('maxDiscountAmount').disabled = true;
            } else {
                document.getElementById('discountPercent').disabled = false;
                document.getElementById('maxDiscountAmount').disabled = false;
            }
        });

    </script>

    <script>
        function closePopup() {
            document.getElementById("popup").style.display = "none";
            document.getElementById("overlay").style.display = "none";
        }

        // Hiển thị pop up và lớp phủ khi load trang
        if (document.getElementById("popup")) {
            document.getElementById("popup").style.display = "block";
            document.getElementById("overlay").style.display = "block";
        }

        function validateForm() {
            var discountPercent = document.getElementById('discountPercent').value;
            var maxDiscountAmount = document.getElementById('maxDiscountAmount').value;
            var amountDiscount = document.getElementById('amountDiscount').value;

            if ((discountPercent === '' && maxDiscountAmount === '') && amountDiscount === '') {
                // Cập nhật nội dung của popup-message
                document.getElementById('popup-message').textContent = 'Bạn phải nhập vào hai cặp ô Tỷ lệ % giảm giá và Tối đa hoặc ô Số tiền giảm giá.';

                // Hiển thị popup
                document.getElementById('popup').style.display = 'block';
                document.getElementById('overlay').style.display = 'block';

                return false;
            }

            return true;
        }

    </script>

</body>

</html>