<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        .custom-bg-red {
            background-color: rgb(225, 225, 225);
        }
        a {
			display: flex;
			align-items: center;
		}
		.col-01 {
			margin-left: 10px;
			margin-right: 10px;
		}
    </style>
</head>
<body>
	<!-- Header trong Thymeleaf phải thêm <header><> trong file header.html -->
    <header class="navbar navbar-expand-lg navbar-light" style="background-color: aliceblue;">
		<div class="container" style="margin-top: 10px; margin-bottom: 10px;">
			
	        <a class="navbar-brand" th:href="@{/aboutusadmin}" style="color: rgb(33,31,127); font-weight: 500; font-size: 30px;">
				<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1703188669/PHOTO_LIST/icon/knowledge%20Young.png" alt="Knowledge Young" style="width:120px;" >
			</a>
				
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
	            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarNav">
	            <ul class="navbar-nav">
					<div class="row">
	                <!-- Hiển thị "Username" và "Đăng xuất" và "Giỏ hàng" và "Đơn hàng" -->
	                	
	                	<div class="col-01" style="margin-left: 80px; margin-right: 20px;">
			                <li class="nav-item active" th:if="${session.admin != null}">
								<a class="nav-link" th:href="@{/admin}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%; display: flex; align-items: center; justify-content: center;">
									<span class="material-symbols-outlined" style="display: flex;">roofing</span><span
			                            class="sr-only">(current)</span></a>
			                    <a class="nav-link" th:href="@{/admin}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%;">
									Trang chủ <span
			                            class="sr-only">(current)</span></a>
			                </li>
	                	</div>
	                	
	                	<div class="col-01" style="margin-left: 20px; margin-right: 20px;">
			                <li class="nav-item" th:if="${session.admin != null}">
								<a class="nav-link" th:href="@{/manageauthors}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%; display: flex; align-items: center; justify-content: center;" >
									<span class="material-symbols-outlined" style="display: flex;">stylus</span></a>
			                    <a class="nav-link" th:href="@{/manageauthors}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%;">
									Tác giả</a>
			                </li>
	                	</div>
	                	
	                	<div class="col-01" style="margin-left: 20px; margin-right: 20px;">
			                <li class="nav-item" th:if="${session.admin != null}">
								<a class="nav-link" th:href="@{/managebooks}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%; display: flex; align-items: center; justify-content: center;">
									<span class="material-symbols-outlined" style="display: flex;">book_5</span></a>
			                    <a class="nav-link" th:href="@{/managebooks}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%;">
									Sản phẩm</a>
			                </li>
	                	</div>
	                	
	                	<div class="col-01" style="margin-left: 20px; margin-right: 20px;">							
			                <li class="nav-item" th:if="${session.admin != null}">
								<a class="nav-link" th:href="@{/managecategories}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%; display: flex; align-items: center; justify-content: center;">
									<span class="material-symbols-outlined" style="display: flex;">category</span></a>
			                    <a class="nav-link" th:href="@{/managecategories}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%;">
									Danh mục</a>							
			                </li>
	                	</div>
	                	
	                	<div class="col-01" style="margin-left: 20px; margin-right: 20px;">
			                <li class="nav-item" th:if="${session.admin != null}">
								<a class="nav-link" th:href="@{/manageorders}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%; display: flex; align-items: center; justify-content: center;">
									<span class="material-symbols-outlined" style="display: flex;">orders</span></a>
			                    <a class="nav-link" th:href="@{/manageorders}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%;">
									Đơn hàng</a>
			                </li>
	                	</div>
	                	
	                	<div class="col-01" style="margin-left: 20px; margin-right: 20px;">
			                <li class="nav-item" th:if="${session.admin != null}">
			                    <a class="nav-link" href="#" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%; display: flex; align-items: center; justify-content: center;">
									<span class="material-symbols-outlined">waving_hand</span>			                      
			                    </a>
			                    <a class="nav-link" href="#" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%;"> Xin chào
			                        <span th:text="${session.admin['firstName']}"></span>
			                    </a>
			                </li>
	                	</div>
	                	
	                	<div class="col-01" style="margin-left: 20px; margin-right: 20px;">
			                <li class="nav-item" th:if="${session.admin != null}">
								<a class="nav-link" th:href="@{/manageaccounts}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%; display: flex; align-items: center; justify-content: center;">
									<span class="material-symbols-outlined" style="display: flex;">manage_accounts</span></a>
			                    <a class="nav-link" th:href="@{/manageaccounts}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%;">
									Tài khoản</a>
			                </li>
	                	</div>
	                	
	                	<div class="col-01" style="margin-left: 20px; margin-right: 20px;">
			                <li class="nav-item" th:if="${session.admin != null}">
								<a class="nav-link"
			                        th:href="@{/logoutadmin}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%; display: flex; align-items: center; justify-content: center;">
			                        <span class="material-symbols-outlined" style="display: flex;">logout</span></a>
			                    <a class="nav-link"
			                        th:href="@{/logoutadmin}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; padding: 0%;">
			                        Đăng xuất</a>
			                </li>
	                	</div>
					</div>
	            </ul>
	        </div>
        </div>
    </header>
    <!-- Thêm các tệp tin JavaScript -->
    <script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>