<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin sách</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
		
		body { background-color: #f2fbff  }
		
		h3 {
        	text-align: center;
        	margin-top: 0px;
        	margin-bottom: 20px;  
        	color: rgb(2,88,155);     	
    	}
    	.frame-01 {
			background-color: white;
    		border-radius: 20px;
    		margin-top: 40px;
    		box-shadow: 0 8px 10px rgb(226, 226, 226);
		}
		.frame-02 {
			border-top: 1px solid #cecece;
			padding-top: 20px;
			margin-bottom: 20px;
			padding-left: 20px;
			border-bottom: 1px solid #3f6ad8;
			padding-bottom: 20px;
		}

		
		.flex-grow-2 {
			display: flex;
		    justify-content: right;
		    align-items: center;
		    margin-top: 30px;
		}
		.frame-description {
			background-color: white;
    		border-radius: 20px;
    		margin-top: 20px;
		}
		.frame-description:hover {
			background-color:azure
		}
		
		.row.one {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
		.row.two {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.row.third {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.row.four {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
		.frame-description-01 {
			margin-bottom: 20px;			
		}
		
		.card-title {
    		border-radius: 20px
		}
		
		p.card-text.text-description {
			font-size: 20px;
			color: rgb(2,88,155);
		}
		.ml-2 {
			display: flex;
		    justify-content: right;
		    margin-right: 15px;
		}

		
		.frame-description {
			box-shadow: 0 8px 10px rgb(226, 226, 226);
		}
		
		.material-symbols-outlined.back {
			color: rgb(2,88,155);
		}
		
		.material-symbols-outlined.back:hover {
			color: rgb(182,232,241);
		}

		.btn-edit-info {
			background-color: white;
			border-radius: 10px;
			color: #3f6ad8;
			box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.5);
			font-weight: bold;
		}
		.btn-edit-info:hover {
			color: white;
            background-color: #3f6ad8;
			box-shadow: 0px 4px 6px rgba(70, 130, 180, 0.3);
			font-weight: bold
		}

		.material-symbols-outlined.edit{
			color: rgb(2,88,155);
		}

		.material-symbols-outlined.edit:hover {
			color:rgb(182,232,241);
		}

		.image {
			border: 1px solid #cecece;
			border-radius: 15px;
			margin-top: 10px;
		}

		.image:hover {
			border: 1px solid #211f7f;
		}

		.TWLNg9 {
			padding: 3px 0;
		}
		.qJkRlY {
			background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#a4a1d3 0,#a4a1d3  74px,transparent 0,transparent 82px);
			background-position-x: -1.875rem;
			background-size: 7.25rem .1875rem;
			height: .1875rem;
			width: 100%
		}

		.author-name {
            margin-right: 10px; /* khoảng cách giữa các tác giả */
        }
	</style>
</head>
<body>
<div th:replace="~{admin/headeradmin :: header}"></div>
<div class="container-expand d-flex" style="margin: 0px; padding: 0px; width: 100%">

	<div class="col-03" style="width: 17%">
		<div th:replace="~{admin/sidebar :: sidebar}"></div>
	</div>

	<div class="col-08" style="width: 83%">
		<div class="container" style="padding: 0px">

			<div class="frame-01" style="background-color: white; padding: 20px">
				<div class="row-cart d-flex align-items-center" style="padding-bottom: 10px">
					<div class="col-00 d-flex align-items-center">
						<a th:href="@{/managebooks}" class="before" style="align-items: center; display: flex; text-decoration: none;">
							<span class="material-symbols-outlined back">arrow_back_ios</span>
						</a>
						<h6 style="color: #3f6ad8; align-items: center;  margin: 0px 5px 0px 0px; font-family: Verdana; font-weight: bold">Thông tin sách</h6>
					</div>
				</div>
				<div class="frame-02 d-flex" >
					<div class="row no-gutters" style="display: flex">
						<div class="col-image d-flex" style="width: 485px">
							<div class="row-image d-flex" style="width: 485px">
								<div class="col-list-image" style="width: 100px;">
									<img data-lightbox="gallery" data-title="Hình ảnh 1" th:src="${book.bookImages[1].path + '?v=' + randomNumber}" class="image" alt="Book Image 1" width="100" style="padding: 10px;"><br>
									<img data-lightbox="gallery" data-title="Hình ảnh 1" th:src="${book.bookImages[2].path + '?v=' + randomNumber}" class="image" alt="Book Image 1" width="100" style="padding: 10px;"><br>
									<img data-lightbox="gallery" data-title="Hình ảnh 1" th:src="${book.bookImages[3].path + '?v=' + randomNumber}" class="image" alt="Book Image 1" width="100" style="padding: 10px;"><br>
								</div>
								<div class="col-image-large" style="width: 375px; padding: 0px">
									<img data-lightbox="gallery" data-title="Hình ảnh 1" th:src="${book.bookImages[0].path + '?v=' + randomNumber}" alt="Book Image" class="card-img" style="border-radius: 15px; width: 295px; margin: 10px 25px 10px 45px">
								</div>
							</div>
						</div>
						<div class="col-content" style="width: 570px; padding: 0px">
							<div class="card-body" style="padding: 0px">
								<h4 class="card-title" th:text="${book.name}" style="margin-left: 15px;"></h4>
								<div class="row-main" style="padding: 0px 0px 10px">
									<div class="col" style="padding: 0px; font-family: nunito-sans, sans-serif, Helvetica, Arial;">
										<div class="row-one" style="display: flex; align-items: center; padding: 20px 0px 10px">
											<div class="col-author" style="padding: 0px 15px">
												<p class="card-text" style="width: 256px; display: flex; justify-content: left; align-items: center; font-family: Helvetica;">Tác giả:</p>
											</div>
											<div class="col-author">
												<span th:each="bookauthor, iterStat : ${book.bookAuthors}">
													<span th:text="${bookauthor.author.name}" class="author-name" style="margin: 0px"></span>
													<span th:if="${!iterStat.last}" >,</span>
												</span>
											</div>
										</div>

										<div class="row-two" style="display: flex; justify-content: center; align-items: center; padding-bottom: 10px">
											<div class="col">
												<p class="card-text" style="font-family: Helvetica; display: flex; justify-content: left; align-items: center;">Nhà xuất bản: </p>
											</div>
											<div class="col-data" style=" width: 284px; display: flex; justify-content: left; align-items: center;">
												<span th:text="${book.publisher}"></span>
											</div>
										</div>

										<div class="row-four" style="display: flex; justify-content: center; align-items: center; padding-bottom: 10px">
											<div class="col">
												<p class="card-text" style="display: flex; justify-content: left; align-items: center; font-family: Helvetica;">Danh mục:</p>
											</div>
											<div class="col-data" style="width: 284px; display: flex; justify-content: left; align-items: center;">
												<span th:text="${book.category.name}"></span>
											</div>
										</div>
										<div class="row-four" style="display: flex; justify-content: center; align-items: center; padding-bottom: 10px">
											<div class="col">
												<p class="card-text" style="display: flex; justify-content: left; align-items: center; font-family: Helvetica;">Số lượng</p>
											</div>
											<div class="col-data" style=" width: 284px; display: flex; justify-content: left; align-items: center;">
												<span th:text="${book.quantity}"></span>
											</div>
										</div>
										<p class="card-text" style="margin-left: 15px; font-size: 30px; font-weight: bold;text-align: left; color: orangered;"><span th:text="${#numbers.formatInteger(book.sellPrice, 0, 'POINT')}" ></span> đ</p>
									</div>
								</div>
								<th:block th:switch="${book.status}" >
									<div th:case="1" class="text-center alert alert-success"  style="color: #302776; font-family: nunito-sans, sans-serif, Helvetica, Arial; border-radius: 10px; margin-top: 20px; color: #105d2f; font-weight: bold" role="alert">Đang kinh doanh</div>
									<div th:case="0" class="text-center alert alert-danger" style="color: #302776; font-family: nunito-sans, sans-serif, Helvetica, Arial; border-radius: 10px; margin-top: 20px; color: #b80101; font-weight: bold" role="alert">Ngừng kinh doanh</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
				<div class="row-content d-flex" style="padding-bottom: 20px;">
					<div class="col-8" style="font-family: Arial; padding: 0px 20px 0px 0px;">
						<p class="card-text text-description" style="margin-bottom: 10px; color: #5390f5; font-weight: bold">Giới thiệu sách:</p>
						<div class="description" id="description" style="height: auto; overflow: hidden;">
							<p class="card-text content" th:text="${book.description}" style="text-align: justify;"></p>
						</div>
					</div>
					<div class="col-4" style="padding: 0px 0px 0px 20px;">
						<p class="card-text" style="color: #5390f5; font-size: 20px; margin-bottom: 10px; font-weight: bold">Chi tiết:</p>
						<pre class="card-text" id="bookDetail" th:text="${book.detail}" style="font-size: 16px; font-family: Arial; white-space: pre-wrap;"></pre>
					</div>
				</div>
				<div class="row-content d-flex justify-content-center" style="padding-bottom: 30px;">
					<div style="flex-direction: column; justify-content: center; align-items: center;">
						<button id="readMore" style="border-radius: 50px; background-color: white; color: #5390f5; border: 1px solid #5390f5; width: 200px; height: 40px;">Xem thêm</button>
						<button id="readLess" style="display: none; border-radius: 50px; background-color: white; color: #5390f5; border: 1px solid #5390f5; width: 200px; height: 40px;">Rút gọn</button>
					</div>
				</div>

				<div class="TWLNg9">
					<div class="qJkRlY"></div>
				</div>

				<div class="row-edit d-flex justify-content-center align-items-center;" style="padding: 15px">
					<form th:action="@{/addtocart}" method="post">
						<div class="d-flex flex-grow-1">
							<a th:href="@{/updatebook(bookId=${book.id})}" class="btn btn-edit-info" style="margin: 15px; width: 180px">Chỉnh sửa</a>
						</div>
					</form>
				</div>
			</div>

			<div class="frame-01" style="background-color: white; margin-bottom: 50px">
				<div class="next-table only-bottom-border">
					<div class="next-table-inner">
						<div class="next-table-header d-flex align-items-center"
							 style="height: 60px; background-color: #d9e1f7; border-top-left-radius: 15px; border-top-right-radius: 15px">
							<div class="next-table-header-inner">
								<table>
									<colgroup style="width: 1020px">
										<col style="width: 10%;">
										<col style="width: 7%;">
										<col style="width: 25%;">
										<col style="width: 10%;">
										<col style="width: 10%;">
										<col style="width: 13%;">
										<col style="width: 10%;">
										<col style="width: 10%;">
										<col style="width: 5%;">
									</colgroup>
									<tbody>
									<tr style="font-family: nunito-sans, sans-serif, Helvetica, Arial; color: #302776;">
										<th rowspan="1" class="next-table-header-node first" style="text-align: center">
											<div class="next-table-cell-wrapper">Mã nhập</div>
										</th>
										<th rowspan="1" class="next-table-header-node " style="text-align: center">
											<div class="next-table-cell-wrapper">Mã sách</div>
										</th>
										<th rowspan="1" class="next-table-header-node " style="text-align: center">
											<div class="next-table-cell-wrapper">Tên sách</div>
										</th>
										<th rowspan="1" class="next-table-header-node " style="text-align: center">
											<div class="next-table-cell-wrapper">Sách nhập</div>
										</th>
										<th rowspan="1" class="next-table-header-node " style="text-align: center">
											<div class="next-table-cell-wrapper">Sách còn lại</div>
										</th>
										<th rowspan="1" class="next-table-header-node " style="text-align: center">
											<div class="next-table-cell-wrapper">Giá nhập</div>
										</th>
										<th rowspan="1" class="next-table-header-node " style="text-align: center">
											<div class="next-table-cell-wrapper">Ngày nhập</div>
										</th>
										<th rowspan="1" class="next-table-header-node " style="text-align: center">
											<div class="next-table-cell-wrapper">Trạng thái</div>
										</th>
										<th rowspan="1" class="next-table-header-node last" style="text-align: center">
											<div class="next-table-cell-wrapper"></div>
										</th>
									</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="next-table-body">
							<table>
								<colgroup style="width: 1020px;">
									<col style="width: 10%;">
									<col style="width: 7%;">
									<col style="width: 25%;">
									<col style="width: 10%;">
									<col style="width: 10%;">
									<col style="width: 13%;">
									<col style="width: 10%;">
									<col style="width: 10%;">
									<col style="width: 5%;">
								</colgroup>
								<tbody>
								<tr th:each="bookImport : ${bookImports}" onmouseover="this.style.backgroundColor='#e0f3ff';" onmouseout="this.style.backgroundColor='transparent';" style="font-family: nunito-sans, sans-serif, Helvetica, Arial;">

									<td rowspan="1" class="next-table-header-node first " style="text-align: center; padding: 10px 0px;" th:text="${bookImport.id}"></td>

									<td rowspan="1" class="next-table-header-node" style="padding: 10px 0px; text-align: center" th:text="${bookImport.book.id}"></td>

									<td rowspan="1" class="next-table-header-node" style="padding: 10px 0px; text-align: left;">
										<span th:if="${#strings.length(bookImport.book.name) > 100}" th:text="${#strings.substring(bookImport.book.name, 0, 100) + '...'}"></span>
										<span th:if="${#strings.length(bookImport.book.name) <= 100}" th:text="${bookImport.book.name}"></span>
									</td>

									<td rowspan="1" class="next-table-header-node" style="padding: 10px 0px; text-align: center;" th:text="${bookImport.quantity}"></td>

									<td rowspan="1" class="next-table-header-node" style="padding: 10px 0px; text-align: center;" th:text="${bookImport.remainingQuantity}"></td>

									<td rowspan="1" class="next-table-header-node" style="color: orangered; padding: 10px 0px; text-align: center;" th:text="${#numbers.formatInteger(bookImport.importPrice, 0, 'POINT')} + ' đ'"></td>

									<td rowspan="1" class="next-table-header-node" style="padding: 10px 0px; text-align: center;" th:text="${#temporals.format(bookImport.importDate.toLocalDateTime(), 'dd/MM/yyyy HH:mm:ss')}"></td>

									<td rowspan="1" class="next-table-header-node" style="padding: 10px 0px; text-align: center;">
                                    <span th:switch="${bookImport.status}">
                                        <span th:case="0" class="badge badge-danger">Ngừng bán</span>
                                        <span th:case="1" class="badge badge-success">Đang bán</span>
                                        <span th:case="2" class="badge badge-warning">Chưa bán</span>
                                        <span th:case="3" class="badge badge-secondary">Hủy bỏ</span>
                                    </span>
									</td>

									<td rowspan="1" class="next-table-header-node last" style="padding: 10px 0px; text-align: center" >
										<a th:href="@{/updatebookimport(bookImportId=${bookImport.id})}" class="btn btn-edit">
											<span class="material-symbols-outlined edit">edit</span>
										</a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<div th:replace="~{admin/footeradmin :: footer}"></div>-->
<!--Chỉ cho 1 khoảng cách sau mỗi thông tin của phần chi tiết sách-->
<script>
	document.addEventListener("DOMContentLoaded", function() {
        var preElement = document.getElementById("bookDetail");
        preElement.innerHTML = preElement.innerHTML.replace(/:\s*/g, ": ");
    });
</script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var description = document.getElementById('description');
		var bookDetail = document.getElementById('bookDetail');
		var readMore = document.getElementById('readMore');
		var readLess = document.getElementById('readLess');

		// Lấy chiều cao ban đầu của phần description
		var descriptionHeight = description.offsetHeight;
		var bookDetailHeight = bookDetail.offsetHeight;

		// So sánh chiều cao của description và bookDetail
		if (descriptionHeight <= bookDetailHeight) {
			readMore.style.display = 'none';
			readLess.style.display = 'none';
			description.style.height = 'auto';  // Hiển thị toàn bộ nội dung nếu không cần nút "Xem thêm"
		} else {
			// Ban đầu đặt chiều cao của description bằng với bookDetail
			description.style.height = bookDetailHeight + 'px';

			// Sự kiện khi nhấn nút "Xem thêm"
			readMore.addEventListener('click', function() {
				description.style.height = 'auto';
				readMore.style.display = 'none';
				readLess.style.display = 'block';
			});

			// Sự kiện khi nhấn nút "Rút gọn"
			readLess.addEventListener('click', function() {
				description.style.height = bookDetailHeight + 'px';
				readMore.style.display = 'block';
				readLess.style.display = 'none';
			});
		}
	});
</script>

<script>
	// Lấy div chứa các hình ảnh
    var imageContainer = document.querySelector('.row-image.d-flex');

    // Mảng chứa đường dẫn của tất cả các hình ảnh trong div
    var images = Array.from(imageContainer.querySelectorAll('img')).map(img => img.src);

    // Khi người dùng nhấp vào một hình ảnh trong div...
    imageContainer.querySelectorAll('img').forEach((img, index) => {
        img.addEventListener('click', function(event) {
            // Tạo một div mới để chứa hình ảnh
            var lightbox = document.createElement('div');
            lightbox.style.position = 'fixed';
            lightbox.style.top = 0;
            lightbox.style.bottom = 0;
            lightbox.style.left = 0;
            lightbox.style.right = 0;
            lightbox.style.background = 'rgba(0, 0, 0, 0.7)';
            lightbox.style.display = 'flex';
            lightbox.style.justifyContent = 'center';
            lightbox.style.alignItems = 'center';
            lightbox.style.zIndex = 99999;

            // Tạo một hình ảnh mới và đặt nguồn của nó thành nguồn của hình ảnh đã nhấp
            var lightboxImg = document.createElement('img');
            lightboxImg.src = event.target.src;
            lightboxImg.style.maxWidth = '80%';
            lightboxImg.style.maxHeight = '80%';

            // Tạo các mũi tên
            var leftArrow = document.createElement('div');
            leftArrow.innerHTML = '<span class="material-symbols-outlined arrow_back_ios">arrow_back_ios</span>';
            leftArrow.style.position = 'absolute';
            leftArrow.style.left = '10px';
            leftArrow.style.top = '50%';
            leftArrow.style.fontSize = '3em';
            leftArrow.style.color = 'white';
            leftArrow.style.cursor = 'pointer';
            leftArrow.style.transform = 'translateY(-50%)';

            var rightArrow = document.createElement('div');
            rightArrow.innerHTML = '<span class="material-symbols-outlined arrow_forward_ios">arrow_forward_ios</span>';
            rightArrow.style.position = 'absolute';
            rightArrow.style.right = '10px';
            rightArrow.style.top = '50%';
            rightArrow.style.fontSize = '3em';
            rightArrow.style.color = 'white';
            rightArrow.style.cursor = 'pointer';
            rightArrow.style.transform = 'translateY(-50%)';

            // Tạo nút đóng
            var closeButton = document.createElement('span');
            closeButton.innerHTML = '<span class="material-symbols-outlined close">close</span>';
            closeButton.style.position = 'absolute';
            closeButton.style.right = '10px';
            closeButton.style.top = '10px';
            closeButton.style.height = '40px';
            closeButton.style.width = '40px';
            closeButton.style.color = '#f1f1f1';
            closeButton.style.justifyContent = 'center';
            closeButton.style.alignItems = 'center';
            closeButton.style.display = 'flex';
            closeButton.style.fontSize = '30px';
            closeButton.style.fontWeight = 'bold';
            closeButton.style.cursor = 'pointer';
            closeButton.style.alignSelf = 'flex-start';

            closeButton.onclick = function() {
                document.body.removeChild(lightbox);
            };

            // Tạo nút Play
            var playButton = document.createElement('span');
            playButton.innerHTML = '<span class="material-symbols-outlined play_arrow">play_circle</span>';
            playButton.style.position = 'absolute';
            playButton.style.right = '60px';
            playButton.style.top = '10px';
            playButton.style.height = '40px';
            playButton.style.width = '40px';
            playButton.style.color = '#f1f1f1';
            playButton.style.justifyContent = 'center';
            playButton.style.alignItems = 'center';
            playButton.style.display = 'flex';
            playButton.style.fontSize = '30px';
            playButton.style.fontWeight = 'bold';
            playButton.style.cursor = 'pointer';
            playButton.style.alignSelf = 'flex-start';

            var intervalId;

            playButton.onclick = function() {
                if (intervalId) {
                    // Nếu đã có một bộ đếm thời gian đang chạy, hãy dừng nó
                    clearInterval(intervalId);
                    intervalId = null;
                    playButton.innerHTML = '<span class="material-symbols-outlined play_arrow">play_arrow</span>'; // Đổi biểu tượng thành Play
                } else {
                    // Nếu không có bộ đếm thời gian nào đang chạy, hãy bắt đầu một cái mới
                    intervalId = setInterval(function() {
                        index = (index + 1) % images.length;
                        lightboxImg.src = images[index];
                    }, 3000); // Chuyển hình ảnh sau mỗi 3 giây
                    playButton.innerHTML = '<span class="material-symbols-outlined pause">pause</span>'; // Đổi biểu tượng thành Pause
                }
            };


            // Tạo nút phóng to
            var zoomInButton = document.createElement('span');
            zoomInButton.innerHTML = '<span class="material-symbols-outlined zoom_in">zoom_in</span>';
            zoomInButton.style.position = 'absolute';
            zoomInButton.style.right = '160px';
            zoomInButton.style.top = '10px';
            zoomInButton.style.height = '40px';
            zoomInButton.style.width = '40px';
            zoomInButton.style.color = '#f1f1f1';
            zoomInButton.style.justifyContent = 'center';
            zoomInButton.style.alignItems = 'center';
            zoomInButton.style.display = 'flex';
            zoomInButton.style.fontSize = '30px';
            zoomInButton.style.fontWeight = 'bold';
            zoomInButton.style.cursor = 'pointer';
            zoomInButton.style.alignSelf = 'flex-start';

            zoomInButton.onclick = function() {
                lightboxImg.style.maxWidth = parseInt(lightboxImg.style.maxWidth) + 10 + '%';
                lightboxImg.style.maxHeight = parseInt(lightboxImg.style.maxHeight) + 10 + '%';
            };

            // Tạo nút thu nhỏ
            var zoomOutButton = document.createElement('span');
            zoomOutButton.innerHTML = '<span class="material-symbols-outlined zoom_out">zoom_out</span>';
            zoomOutButton.style.position = 'absolute';
            zoomOutButton.style.right = '210px';
            zoomOutButton.style.top = '10px';
            zoomOutButton.style.height = '40px';
            zoomOutButton.style.width = '40px';
            zoomOutButton.style.color = '#f1f1f1';
            zoomOutButton.style.justifyContent = 'center';
            zoomOutButton.style.alignItems = 'center';
            zoomOutButton.style.display = 'flex';
            zoomOutButton.style.fontSize = '30px';
            zoomOutButton.style.fontWeight = 'bold';
            zoomOutButton.style.cursor = 'pointer';
            zoomOutButton.style.alignSelf = 'flex-start';

            zoomOutButton.onclick = function() {
                if (parseInt(lightboxImg.style.maxWidth) > 80) {
                    lightboxImg.style.maxWidth = parseInt(lightboxImg.style.maxWidth) - 10 + '%';
                    lightboxImg.style.maxHeight = parseInt(lightboxImg.style.maxHeight) - 10 + '%';
                }
            };

            // Tạo nút Fullscreen
            var fullscreenButton = document.createElement('span');
            fullscreenButton.innerHTML = '<span class="material-symbols-outlined fullscreen">fullscreen</span>';
            fullscreenButton.style.position = 'absolute';
            fullscreenButton.style.right = '110px';
            fullscreenButton.style.top = '10px';
            fullscreenButton.style.height = '40px';
            fullscreenButton.style.width = '40px';
            fullscreenButton.style.color = '#f1f1f1';
            fullscreenButton.style.justifyContent = 'center';
            fullscreenButton.style.alignItems = 'center';
            fullscreenButton.style.display = 'flex';
            fullscreenButton.style.fontSize = '30px';
            fullscreenButton.style.fontWeight = 'bold';
            fullscreenButton.style.cursor = 'pointer';
            fullscreenButton.style.alignSelf = 'flex-start';

            fullscreenButton.onclick = function() {
                if (!document.fullscreenElement) {
                    if (lightbox.requestFullscreen) {
                        lightbox.requestFullscreen();
                    } else if (lightbox.mozRequestFullScreen) { /* Firefox */
                        lightbox.mozRequestFullScreen();
                    } else if (lightbox.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
                        lightbox.webkitRequestFullscreen();
                    } else if (lightbox.msRequestFullscreen) { /* IE/Edge */
                        lightbox.msRequestFullscreen();
                    }
                } else {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.mozCancelFullScreen) { /* Firefox */
                        document.mozCancelFullScreen();
                    } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
                        document.webkitExitFullscreen();
                    } else if (document.msExitFullscreen) { /* IE/Edge */
                        document.msExitFullscreen();
                    }
                }
            };


            // Thêm hình ảnh, mũi tên và nút đóng vào lightbox
            lightbox.appendChild(lightboxImg);
            lightbox.appendChild(leftArrow);
            lightbox.appendChild(rightArrow);
            lightbox.appendChild(closeButton);
            lightbox.appendChild(zoomInButton);
            lightbox.appendChild(zoomOutButton);
            lightbox.appendChild(playButton);
            lightbox.appendChild(fullscreenButton);

            // Thêm lightbox vào trang
            document.body.appendChild(lightbox);

            // Khi người dùng nhấp vào mũi tên phải hoặc trái, chuyển đổi hình ảnh
            document.addEventListener('keydown', function(event) {
                if (event.key === 'ArrowRight') {
                    index = (index + 1) % images.length;
                    lightboxImg.src = images[index];
                } else if (event.key === 'ArrowLeft') {
                    index = (index - 1 + images.length) % images.length;
                    lightboxImg.src = images[index];
                }
            });

            // Khi người dùng nhấp vào mũi tên, chuyển đổi hình ảnh
            leftArrow.addEventListener('click', function() {
                index = (index - 1 + images.length) % images.length;
                lightboxImg.src = images[index];
            });

            rightArrow.addEventListener('click', function() {
                index = (index + 1) % images.length;
                lightboxImg.src = images[index];
            });
        });
    });

</script>

</body>

</html>