<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật sách</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <style> 
		
		body { background-color: #f2fbff  }
		
		h3 {
        	text-align: center;
        	margin-top: 0px;
        	margin-bottom: 20px;  
        	color: rgb(2,88,155);     	
    	}
    	.container-body {
    		border-radius: 20px;
    		margin-left: 40px;
    		margin-right: 40px;
    		margin-top: 40px;
    		margin-bottom: 40px;
    		padding: 30px;
    		box-shadow: 0 8px 10px rgb(226, 226, 226);
		}

		.row-02 {
			display: flex;
		    justify-content: center;
		    margin-top: 25px;
		    margin-bottom: 25px;
		    
		}
		
			.btn-save {
			background-color: white;
			border-radius: 10px;
			color: #3f6ad8;
			box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.5);
			font-weight: bold;
		}
		.btn-save:hover {
			color: white;
            background-color: #3f6ad8;
			box-shadow: 0px 4px 6px rgba(70, 130, 180, 0.3);
			font-weight: bold
		}
		
		.material-symbols-outlined.back {
			color: rgb(2,88,155);
		}
		
		.material-symbols-outlined.back:hover {
			color: rgb(182,232,241);
		}
		
		.container-body {
			box-shadow: 0 8px 10px rgb(226, 226, 226);
		}

		/* Style cho pop up */
        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            z-index: 9999;
            height: 120px;
        }
		/* Style cho lớp phủ */
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9998;
        }

		.btn-close-popup {
			border: none;
			border-radius: 10px;
			margin: 15px;
			background-color: #3f6ad8;
			color: white;
			font-weight: bold;
			width: 50px;
			height: 35px;
		}
		.btn-close-popup:hover {
			color: white;
		}
    </style>
    <script>
	var loadFile1 = function(event) {
	    var output = document.getElementById('output1');
	    output.src = URL.createObjectURL(event.target.files[0]);
	    output.onload = function() {
	        URL.revokeObjectURL(output.src) // free memory
	    }
	};
	</script>
	<script>
	var loadFile2 = function(event) {
	    var output = document.getElementById('output2');
	    output.src = URL.createObjectURL(event.target.files[0]);
	    output.onload = function() {
	        URL.revokeObjectURL(output.src) // free memory
	    }
	};
	</script>
	<script>
	var loadFile3 = function(event) {
	    var output = document.getElementById('output3');
	    output.src = URL.createObjectURL(event.target.files[0]);
	    output.onload = function() {
	        URL.revokeObjectURL(output.src) // free memory
	    }
	};
	</script>
	<script>
	var loadFile4 = function(event) {
	    var output = document.getElementById('output4');
	    output.src = URL.createObjectURL(event.target.files[0]);
	    output.onload = function() {
	        URL.revokeObjectURL(output.src) // free memory
	    }
	};
	</script>
</head>
<body>
	<div th:replace="~{admin/headeradmin :: header}"></div>
	<div class="container-expand d-flex" style="margin: 0px; padding: 0px; width: 100%">

		<div class="col-03" style="width: 17%">
			<div th:replace="~{admin/sidebar :: sidebar}"></div>
		</div>

		<div class="col-08" style="width: 83%">
			<!-- Lớp phủ -->
			<div class="overlay" id="overlay"></div>

			<!-- Hiển thị thông báo nếu có -->
			<div th:if="${param.message}" class="popup" id="popup">
				<div class="row-announce">
					<span style="color: #5b5a7a; font-weight: bold;" th:text="${param.message}"></span>
				</div>
				<div class="row-close d-flex align-items-center justify-content-center">
					<button class="btn btn-close-popup" onclick="closePopup()">Ok</button>
				</div>
			</div>

			<div class="container-body" style="background-color: white;">
				<div class="row-00 d-flex align-items-center" style="height: 30px; margin-bottom: 15px; margin: 0px 0px 0px">
					<div class="col-00" style="display: flex; align-items: center;">
						<a th:href="@{/managedetailbook(bookId=${book.id})}" class="before" style="align-items: center; display: flex; text-decoration: none;">
							<span class="material-symbols-outlined back">arrow_back_ios</span>
						</a>
						<h6 style="color: #3f6ad8; align-items: center;  margin: 0px 5px 0px 0px; font-family: Verdana; font-weight: bold">Cập nhật sách</h6>
					</div>
				</div>
				<div class="frame-body">
					<form th:action="@{/updatebook}" th:object="${book}" method="POST" enctype="multipart/form-data">
						<div class="row-content d-flex">
							<div class="col-7" style="padding-left: 0px">
								<div class="row-01 d-flex align-items-center" style="margin-top: 15px">
									<div class="col-6" style="padding: 0px 10px 0px 0px">
										<div class="form-group">
											<label for="id" style="color: rgb(2,88,155);">Mã:</label>
											<input type="text" style="border-radius: 10px;" class="form-control" id="id" name="id" th:value="${book.id}" readonly>
										</div>
									</div>
									<div class="col-6" style="padding: 0px 0px 0px 10px">
										<div class="form-group">
											<label for="name" style="color: rgb(2,88,155);">Tên sách:</label>
											<input type="text" style="border-radius: 10px;" class="form-control" id="name" name="name" th:field="*{name}" required>
										</div>
									</div>
								</div>
								<div class="row-01 d-flex align-items-center" style="margin-top: 15px">
									<div class="col-6" style="padding: 0px 10px 0px 0px">
										<div class="form-group">
											<label for="categoryId" style="color: rgb(2,88,155);">Danh mục:</label>
											<select class="form-control" id="categoryId" name="categoryId" required style="border-radius: 10px;">
												<option th:each="category : ${categories}" th:value="${category.id}" th:selected="${category.id == book.category.id}" th:text="${category.name}"></option>
											</select>
										</div>
									</div>
									<div class="col-6" style="padding: 0px 0px 0px 10px">
										<div class="form-group">
											<label for="publisher" style="color: rgb(2,88,155);">Nhà xuất bản:</label>
											<input type="text" style="border-radius: 10px;" class="form-control" id="publisher" name="publisher" th:field="*{publisher}" required>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="authorsIds" style="color: rgb(2,88,155);">Tác giả:</label>
									<select multiple class="form-control" id="authorsIds" name="authorsIds" style="border-radius: 10px;" required>
										<option th:each="author : ${allAuthors}" th:value="${author.id}" th:selected="${book.bookAuthors != null and book.bookAuthors.![author.id].contains(author.id)}">
											<span th:text="${author.name}"></span>
										</option>
									</select>
								</div>
								<div class="row-01 d-flex align-items-center" style="margin-top: 15px">
									<div class="col-6" style="padding: 0px 10px 0px 0px">
										<div class="form-group">
											<label for="costPrice" style="color: rgb(2,88,155);">Giá nhập:</label>
											<input type="number" class="form-control" id="costPrice" name="costPrice" th:field="*{costPrice}" style="border-radius: 10px;" required>
										</div>
									</div>
									<div class="col-6" style="padding: 0px 0px 0px 10px">
										<div class="form-group">
											<label for="sellPrice" style="color: rgb(2,88,155);">Giá bán:</label>
											<input type="number" class="form-control" id="sellPrice" name="sellPrice" th:field="*{sellPrice}" style="border-radius: 10px;" required>
										</div>
									</div>
								</div>
								<div class="row-01 d-flex align-items-center" style="margin-top: 15px">
									<div class="col-6" style="padding: 0px 10px 0px 0px">
										<div class="form-group">
											<label for="quantity" style="color: rgb(2,88,155);">Số lượng:</label>
											<input type="number" id="quantity" name="quantity" style="border-radius: 10px;" class="form-control" min="0" th:field="*{quantity}" required>
										</div>
									</div>
									<div class="col-6" style="padding: 0px 0px 0px 10px">
										<div class="form-group">
											<label for="status" style="color: rgb(2,88,155);">Trạng thái:</label>
											<select class="form-control" id="status" name="status" th:field="*{status}" style="border-radius: 10px;">
												<option value="0" th:selected="${book.status == 0}">Ngừng kinh doanh</option>
												<option value="1" th:selected="${book.status == 1}">Đang kinh doanh</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-5" style="padding-right: 0px; margin-top: 15px">
								<div class="form-group">
									<label for="detail" style="color: rgb(2,88,155);">Chi tiết</label>
									<textarea style="border-radius: 10px; resize: none;" class="form-control" id="detail" name="detail" rows="7" required th:field="*{detail}"></textarea>
								</div>
								<div class="form-group">
									<label for="description" style="color: rgb(2,88,155);">Giới thiệu sách</label>
									<textarea style="border-radius: 10px; resize: none;" class="form-control" id="description" name="description" rows="10" required th:field="*{description}"></textarea>
								</div>
							</div>
						</div>

						<div class="row-02">
							<div class="col">
								<div class="form-group">
									<img th:src="${book.bookImages[0].path + '?v=' + randomNumber}" alt="Book Image 1" width="150" style="border-radius: 10px;"><br>
								</div>
								<div class="form-group">
									<label for="image1" style="color: rgb(2,88,155);">Ảnh 1:</label>
									<input type="file" class="form-control-file" id="image1" name="image1" accept="image/*" onchange="loadFile1(event)" style="margin-bottom: 10px ;">
									<div style="display: flex; justify-content: center; align-items: center;">
										<img id="output1" width="100"/>
									</div>
								</div>
							</div>

							<div class="col">
								<div class="form-group">
									<img th:src="${book.bookImages[1].path + '?v=' + randomNumber}" alt="Book Image 2" width="150" style="border-radius: 10px;"><br>
								</div>
								<div class="form-group">
									<label for="image2" style="color: rgb(2,88,155);">Ảnh 2:</label>
									<input type="file" class="form-control-file" id="image2" name="image2" accept="image/*" onchange="loadFile2(event)" style="margin-bottom: 10px ;">
									<div style="display: flex; justify-content: center; align-items: center;">
										<img id="output2" width="100"/>
									</div>
								</div>
							</div>

							<div class="col">
								<div class="form-group">
									<img th:src="${book.bookImages[2].path + '?v=' + randomNumber}" alt="Book Image 3" width="150" style="border-radius: 10px;"><br>
								</div>
								<div class="form-group">
									<label for="image3" style="color: rgb(2,88,155);">Ảnh 3:</label>
									<input type="file" class="form-control-file" id="image3" name="image3" accept="image/*" onchange="loadFile3(event)" style="margin-bottom: 10px ;">
									<div style="display: flex; justify-content: center; align-items: center;">
										<img id="output3" width="100"/>
									</div>
								</div>
							</div>

							<div class="col">
								<div class="form-group">
									<img th:src="${book.bookImages[3].path + '?v=' + randomNumber}" alt="Book Image 4" width="150" style="border-radius: 10px;"><br>
								</div>
								<div class="form-group">
									<label for="image4" style="color: rgb(2,88,155);">Ảnh 4:</label>
									<input type="file" class="form-control-file" id="image4" name="image4" accept="image/*" onchange="loadFile4(event)" style="margin-bottom: 10px ;">
									<div style="display: flex; justify-content: center; align-items: center;">
										<img id="output4" width="100"/>
									</div>
								</div>
							</div>
						</div>

						<div class="text-center">
							<button type="submit" class="btn btn-save">Lưu</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!--<div th:replace="~{admin/footeradmin :: footer}"></div>-->

	<script>
		function closePopup() {
            document.getElementById("popup").style.display = "none";
            document.getElementById("overlay").style.display = "none";
        }

        // Hiển thị pop up và lớp phủ khi load trang
        if (document.getElementById("popup")) {
            document.getElementById("popup").style.display = "block";
            document.getElementById("overlay").style.display = "block";
        }
	</script>
</body>
</html>