<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


	<style>
        .custom-navbar-color {
        	background-color: rgb(128, 255, 255); /* Màu mong muốn */
    	}  
    	.dropdown-menu {
			border: 2px solid rgb(0, 0, 160); /* Màu viền */
        	border-radius: 5px; /* Bán kính bo góc */
        	padding: 10px; /* Khoảng cách giữa nội dung và viền */
        	border-radius: 10px
		}
		.dropdown-menu {
   	 		border: 10px solid rgb(0, 0, 160); /* Đặt màu viền của bạn */
		}
		
		.nav-item {
			display: flex;
		}
		.nav-link-book {
			display: flex;
      		align-items: center;
		}

		 .nav-link {
			display: flex;
      		align-items: center;
		}

		.button-style:hover {
			background-color: aqua;
		}

		.dropdown-item:hover {
			box-shadow: 0px 6px 8px rgba(0, 0.4, 0, 0.2);
		}

		.material-symbols-outlined.search{
			color: rgb(2,88,155);
		}

		.dropdown-item.catalog {
			text-decoration: none;
			color: black;
		}

		.material-symbols-outlined.expand_less {
		  	display: none;
		}

	</style>
</head>
<body>

<!-- Header trong Thymeleaf phải thêm <header><> trong file header.html -->

		<header class="navbar navbar-expand" style="padding: 0%; position: sticky; top: 0; z-index: 999;">
		<div class="header" style="width: 100%; background-color: #d7ebff;">
			<div class="container d-flex align-items-center" style="max-width: 1200px; padding: 0px">
				<div class="col-3" style="padding: 0px">
					<div class="navbar-header" style="display: flex; align-items:center; height:40px; width: 100%;">
						<p style="display: flex; font: inherit; margin: 0 0 0px; color:rgb(0, 0, 160); font-weight: bold;" >
							KNOWLEDGE YOUNG
						</p>
					</div>
				</div>
				<div class="col-6">
					<!--Thông báo từ lớp Notification -->
					<div th:if="${session.account != null}" th:replace="~{customer/notify :: notify}"></div>
				</div>
				<div class="col-3">
<!--					<ul class="navbar-nav mr-auto navbar-nav-left" >-->
<!--						<li class="nav-itemt" th:if="${session.account != null}">-->
<!--							<a class="nav-link " th:href="@{/vieworders}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif;">-->
<!--								<span>Đơn hàng</span>-->
<!--							</a>-->
<!--						</li>-->
<!--					</ul>-->
				</div>
			</div>

<!--			<div class="fhs_header_desktop" style="width: 100%; padding: 0%; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);">-->
<!--				<div class="fhs-header-top-banner" >-->
<!--					<div class="top-banner-block" style="display: flex; justify-content: center; background-color: #004aad;">-->
<!--						<a href="https://forms.gle/qSairHKJMiscwyuh7" style="display: flex; justify-content: center;">-->
<!--							&lt;!&ndash;<img class="responsive-image" src="https://res.cloudinary.com/dylwewmt0/image/upload/v1703313185/PHOTO_LIST/Header/Header_03.png" alt style="width: 100%; height: 100%; object-fit: contain;">&ndash;&gt;-->
<!--						</a>-->
<!--					</div>-->
<!--				</div>-->
				<!--			header được trải dài toàn màn hình-->
				<div class="container-fluid d-flex align-items-center justify-content-center" style="background-color: #fff; display: flex; align-items:center; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); width: 100%; padding: 0px">
					<div class="container-header d-flex align-items-center justify-content-center" style="max-width: 1200px; height: 70px; padding: 0px; margin: 0px">
						<div class="col-01" style="display: flex; align-items:center; padding: 0px; width: 250px">
							<ul class="navbar-nav mr-auto navbar-nav-left" style="display: flex; align-items: center;">
								<a class="navbar-brand" href="#" th:href="@{/home}" style="margin-right: 20px">
									<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1711425586/PHOTO_LIST/icon/logo.png" alt="Knowledge Young" style="width:50px;">
								</a>
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
										aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>

								<li class="nav-item active dropdown" style="display: flex; align-items:center; justify-content: center; width: 60px">
									<a class="nav-link-book d-flex align-items-center justify-content-center" th:href="@{/viewbooks}"
									   style="font-size: 16px; color:rgb(0, 0, 160); font-family: Arial, sans-serif; display: flex; text-decoration: none; width: 120px"
									   id="navbarDropdown-catalog" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="toggleIcon()">
										<span class="material-symbols-outlined" style="font-size: 30px; margin-left: 5px">widgets</span>
										<span class="sr-only">(current)</span>
										<span class="material-symbols-outlined expand_more" id="expand_more">expand_more</span>
										<span class="material-symbols-outlined expand_less" id="expand_less" style="display: none">expand_less</span>
									</a>
									<div class="container" >
										<div class="dropdown-menu catalog " aria-labelledby="navbarDropdown"
											 style="justify-content-center; padding: 0px; margin-top: 15px; border-radius: 15px; width: 1068px; height: 420px;">

											<div class="row-catalog d-flex align-items-center; justify-content-center;">
												<div class="col-background">
													<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1714966021/PHOTO_LIST/Catalog/background.png" alt="" style="height: 400px; width: 140px">
												</div>
												<div class="col-title">
													<div class="row-catalog d-flex align-items-center justify-content-center" style="width: 828px; padding-top: 10px">
														<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1714925897/PHOTO_LIST/Catalog/Danh_muc.jpg" alt="" style="width:70px;">
														<p class="dropdown-item"
														   style="width: auto; background-color: white; padding: 0px; margin: 0px; align-items:center; display: flex; font-size: 30px; color: #5b5a7a; font-family: 'Museo Moderno', sans-serif;">Danh mục sách</p>
													</div>

													<div class="dropdown-divider" style="width: 900px; border-width: 3px;"></div>
													<div class="row-catalog-02 d-flex align-items-center;">
														<div class="col-01" style="width: 460px; display: flex; flex-direction: column; justify-content: center;">
															<div class="dropdown-item catalog d-flex align-items-center;" style="padding: 0px">
																<a class="dropdown-item catalog d-flex align-items-center;" id="link1" th:href="@{/viewbooks(categoryId=1)}"
																   style="padding: 10px 0px 0px 10px; background-color: white; font-size: 18px; font-weight: 500; font-style: Helvetica">
																	<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1714925888/PHOTO_LIST/Catalog/1.jpg" alt="" style="width:60px;">
																	<div class="content" style="display: flex; flex-direction: column; justify-content: center;">
																		<p style="margin: 0px 0px 0px 15px; color:rgb(0,162,206); font-family: 'Museo Moderno', sans-serif;">Chính Trị - Pháp Luật</p>
																		<p style="margin: 0px 0px 0px 15px; font-size: 12px; color: grey; font-family: 'Museo Moderno', sans-serif;">Nghiên cứu quyền lực, quản lý xã hội và luật pháp.</p>
																	</div>
																</a>
															</div>
															<div class="dropdown-item catalog d-flex align-items-center;" style="padding: 0px">
																<a class="dropdown-item catalog d-flex align-items-center;" id="link2" th:href="@{/viewbooks(categoryId=2)}"
																   style="padding: 10px 0px 0px 10px; background-color: white; font-size: 18px; font-weight: 500; font-style: Helvetica">
																	<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1714925889/PHOTO_LIST/Catalog/2.jpg" alt="" style="width:60px;">
																	<div class="content" style="display: flex; flex-direction: column; justify-content: center;">
																		<p style="margin: 0px 0px 0px 15px; color:rgb(0,162,206); font-family: 'Museo Moderno', sans-serif;">Giáo trình</p>
																		<p style="margin: 0px 0px 0px 15px; font-size: 12px; color: grey; font-family: 'Museo Moderno', sans-serif;">Tài liệu học tập dựa trên chương trình môn học.</p>
																	</div>
																</a>
															</div>
															<div class="dropdown-item catalog d-flex align-items-center;" style="padding: 0px">
																<a class="dropdown-item catalog d-flex align-items-center;" id="link3" th:href="@{/viewbooks(categoryId=3)}"
																   style="padding: 10px 0px 0px 10px; background-color: white; font-size: 18px; font-weight: 500; font-style: Helvetica">
																	<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1714925889/PHOTO_LIST/Catalog/3.jpg" alt="" style="width:60px;">
																	<div class="content" style="display: flex; flex-direction: column; justify-content: center;">
																		<p style="margin: 0px 0px 0px 15px; color:rgb(0,162,206); font-family: 'Museo Moderno', sans-serif;">Khoa Học Công Nghệ - Kinh Tế</p>
																		<p style="margin: 0px 0px 0px 15px; font-size: 12px; color: grey; font-family: 'Museo Moderno', sans-serif;">Tiến bộ khoa học, công nghệ và ảnh hưởng đến kinh tế.</p>
																	</div>
																</a>
															</div>
															<div class="dropdown-item catalog d-flex align-items-center;" style="padding: 0px">
																<a class="dropdown-item catalog d-flex align-items-center;" id="link4" th:href="@{/viewbooks(categoryId=4)}"
																   style="padding: 10px 0px 0px 10px; background-color: white; font-size: 18px; font-weight: 500; font-style: Helvetica">
																	<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1714925889/PHOTO_LIST/Catalog/4.jpg" alt="" style="width:60px;">
																	<div class="content" style="display: flex; flex-direction: column; justify-content: center;">
																		<p style="margin: 0px 0px 0px 15px; color:rgb(0,162,206); font-family: 'Museo Moderno', sans-serif;">Truyện, Tiểu Thuyết</p>
																		<p style="margin: 0px 0px 0px 15px; font-size: 12px; color: grey; font-family: 'Museo Moderno', sans-serif;">Tác phẩm văn học dài với câu chuyện và nhân vật phức tạp.</p>
																	</div>
																</a>
															</div>
														</div>
														<div class="col-02" style="width: 460px; display: flex; flex-direction: column; justify-content: center;">
															<div class="dropdown-item catalog d-flex align-items-center;" style="padding: 0px">
																<a class="dropdown-item catalog d-flex align-items-center;" id="link5" th:href="@{/viewbooks(categoryId=5)}"
																   style="padding: 10px 0px 0px; background-color: white; font-size: 18px; font-weight: 500; font-style: Helvetica">
																	<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1714925889/PHOTO_LIST/Catalog/5.jpg" alt="" style="width:60px;">
																	<div class="content" style="display: flex; flex-direction: column; justify-content: center;">
																		<p style="margin: 0px 0px 0px 15px; color:rgb(0,162,206); font-family: 'Museo Moderno', sans-serif;">Tâm Lý, Tâm Linh, Tôn Giáo</p>
																		<p style="margin: 0px 0px 0px 15px; font-size: 12px; color: grey; font-family: 'Museo Moderno', sans-serif;">Nghiên cứu tâm lý, tâm linh và tôn giáo.</p>
																	</div>
																</a>
															</div>
															<div class="dropdown-item catalog d-flex align-items-center;" style="padding: 0px">
																<a class="dropdown-item catalog d-flex align-items-center;" id="link6" th:href="@{/viewbooks(categoryId=6)}"
																   style="padding: 10px 0px 0px;  background-color: white; font-size: 18px; font-weight: 500; font-style: Helvetica">
																	<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1714925889/PHOTO_LIST/Catalog/6.jpg" alt="" style="width:60px;">
																	<div class="content" style="display: flex; flex-direction: column; justify-content: center;">
																		<p style="margin: 0px 0px 0px 15px; color:rgb(0,162,206); font-family: 'Museo Moderno', sans-serif;">Thiếu Nhi</p>
																		<p style="margin: 0px 0px 0px 15px; font-size: 12px; color: grey; font-family: 'Museo Moderno', sans-serif;">Liên quan đến giáo dục, giải trí và phát triển trẻ em.</p>
																	</div>
																</a>
															</div>
															<div class="dropdown-item catalog d-flex align-items-center;" style="padding: 0px">
																<a class="dropdown-item catalog d-flex align-items-center;" id="link7" th:href="@{/viewbooks(categoryId=7)}"
																   style="padding: 10px 0px 0px;  background-color: white; font-size: 18px; font-weight: 500; font-style: Helvetica">
																	<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1714925889/PHOTO_LIST/Catalog/7.jpg" alt="" style="width:60px;">
																	<div class="content" style="display: flex; flex-direction: column; justify-content: center;">
																		<p style="margin: 0px 0px 0px 15px; color:rgb(0,162,206); font-family: 'Museo Moderno', sans-serif;">Văn Học Nghệ Thuật</p>
																		<p style="margin: 0px 0px 0px 15px; font-size: 12px; color: grey; font-family: 'Museo Moderno', sans-serif;">Nghiên cứu tác phẩm văn học có giá trị nghệ thuật hoặc trí tuệ.</p>
																	</div>
																</a>
															</div>
															<div class="dropdown-item catalog d-flex align-items-center;" style="padding: 0px">
																<a class="dropdown-item catalog d-flex align-items-center;" id="link8" th:href="@{/viewbooks(categoryId=8)}"
																   style="padding: 10px 0px 0px;  background-color: white; font-size: 18px; font-weight: 500; font-style: Helvetica">
																	<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1714925889/PHOTO_LIST/Catalog/8.jpg" alt="" style="width:60px;">
																	<div class="content" style="display: flex; flex-direction: column; justify-content: center;">
																		<p style="margin: 0px 0px 0px 15px; color:rgb(0,162,206); font-family: 'Museo Moderno', sans-serif;">Văn Hóa Xã Hội - Lịch Sử</p>
																		<p style="margin: 0px 0px 0px 15px; font-size: 12px; color: grey; font-family: 'Museo Moderno', sans-serif;">Nghiên cứu lịch sử, văn hóa và phát triển xã hội.</p>
																	</div>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</li>

							</ul>
						</div>

						<div class="col-02" style="display: flex; align-items:center; justify-content: center; width: 700px; margin: 0px">
							<div class= "search"
								 style="display: flex; justify-content: center; border-radius: 50px; background-color: white; align-items: center; width: 700px; height: 40px; border: 1px solid #cecece;
									transition: box-shadow 0.3s ease; "
								 onmouseover="this.style.boxShadow='0px 4px 6px rgba(0, 0, 0, 0.1)';"
								 onmouseout="this.style.boxShadow='none';">
								<span class="material-symbols-outlined search" style="margin: 10px; color: rgb(2,88,155);">search</span>
								<form class="form-inline my-2 my-lg-0" th:action="@{/viewbooks}" method="GET" style="display: flex; margin: 0px; border-top-right-radius: 50px; border-bottom-right-radius: 50px;">
									<input class="form-control mr-sm-2" type="search" name="searchKeyword" placeholder="Tìm kiếm theo tên sách, tác giả..." style="width: 656px; height: 35px; border: none; outline: none; border-top-right-radius: 50px; border-bottom-right-radius: 50px;">
								</form>
							</div>
						</div>

						<div class="col-account-cart" style="display: flex; align-items:center; justify-content: flex-end; width: 250px">
							<div class="content-icon">
								<ul class="navbar-nav mr-auto">

									<!-- thông báo -->
									<li class="nav-item" th:if="${session.account != null}" style="display: flex; align-items:center;">
										<a class="nav-link" th:href="@{/viewnotifications}" style="padding-right: 0px; color:rgb(0, 0, 160); font-family: Arial, sans-serif; align-items:center;">
											<span class="material-symbols-outlined" style="font-size: 30px;">notifications</span>
										</a>
									</li>

									<li class="nav-item" th:if="${session.account != null}" style="display: flex; align-items:center;">
										<a class="nav-link" th:href="@{/viewcart}" style="padding-right: 0px; color:rgb(0, 0, 160); font-family: Arial, sans-serif; align-items:center;">
											<span class="material-symbols-outlined" style="font-size: 30px;">shopping_bag</span>
										</a>
									</li>

									<li class="nav-item dropdown d-flex align-items-center justify-content-flex-end" th:if="${session.account != null}">
										<a class="nav-link d-flex align-items-center justify-content-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
										   style="color: rgb(0, 0, 160);">
											<div class="circle" style="width: 40px;
																		height: 40px;
																		border-radius: 50%;
																		border: 1px solid #ddd;
																		padding: 10px;
																		background-color: #f9f9f9;
																		display: flex;
																		align-items: center;
																		justify-content: center"
												>
												<img th:src="${#strings.isEmpty(session.account.img) ? 'https://res.cloudinary.com/dosdzo1lg/image/upload/v1709875316/WebBookStoreKLTN/img_account/account_default.jpg' : session.account.img + '?v=' + randomNumber}" style="width: 30px; height: 30px; border-radius: 50%;">
											</div>
											<span th:text="${#strings.isEmpty(session.account) ? 'Guest' : session.account['firstName'] + ' ' + session.account['lastName']}" style="color:rgb(0, 0, 160); font-family: Arial, sans-serif; font-size: 16px"></span>
											<span class="material-symbols-outlined expand_more" id="expand_more_03">expand_more</span>
										</a>
										<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="weight: 0px; height: 200px; border-radius: 10px;">
											<a class="dropdown-item d-flex align-items-center justify-content-center" th:href="@{/viewaccount}"
											   style="color: rgb(0, 0, 160); width: 240px; border: 1px solid #d7ebff; border-radius: 50px; margin: 10px"
											   onmouseover="this.style.backgroundColor='#d7ebff'; this.style.boxShadow='0px 6px 8px rgba(0, 0, 0, 0.2)';"
											   onmouseout="this.style.backgroundColor='transparent'; this.style.boxShadow='0px 0px 0px rgba(0, 0, 0, 0)';">
												<span class="material-symbols-outlined" style="margin-right: 8px;">sentiment_very_satisfied</span>
												<span>Quản lý tài khoản</span>
											</a>
											<a class="dropdown-item d-flex align-items-center justify-content-center" th:href="@{/vieworders}"
											   style="color: rgb(0, 0, 160); width: 240px; border: 1px solid #d7ebff; border-radius: 50px; margin: 10px"
											   onmouseover="this.style.backgroundColor='#d7ebff'; this.style.boxShadow='0px 6px 8px rgba(0, 0, 0, 0.2)';"
											   onmouseout="this.style.backgroundColor='transparent'; this.style.boxShadow='0px 0px 0px rgba(0, 0, 0, 0)';">
												<span class="material-symbols-outlined" style="margin-right: 8px;">list_alt</span>
												<span>Đơn hàng của tôi</span>
											</a>
											<a class="dropdown-item d-flex align-items-center justify-content-center"
											   style="color: rgb(0, 0, 160); width: 240px; border: 1px solid #d7ebff; border-radius: 50px; margin: 10px"
											   onmouseover="this.style.backgroundColor='#d7ebff'; this.style.boxShadow='0px 6px 8px rgba(0, 0, 0, 0.2)';"
											   onmouseout="this.style.backgroundColor='transparent'; this.style.boxShadow='0px 0px 0px rgba(0, 0, 0, 0)';" th:href="@{/viewfavoritebooks}">
												<span class="material-symbols-outlined" style="margin-right: 8px;">favorite</span>
												<span>Sách yêu thích</span>
											</a>
											<form id="logoutForm" th:action="@{/customer/logoutaccount}" method="post" style="display: none;">
											</form>
											<a class="dropdown-item d-flex align-items-center justify-content-center"
											   style="color: rgb(0, 0, 160); width: 240px; border: 1px solid #d7ebff; border-radius: 50px; margin: 10px; cursor: pointer;"
											   onmouseover="this.style.backgroundColor='#d7ebff'; this.style.boxShadow='0px 6px 8px rgba(0, 0, 0, 0.2)';"
											   onmouseout="this.style.backgroundColor='transparent'; this.style.boxShadow='0px 0px 0px rgba(0, 0, 0, 0)';"
											   onclick="document.getElementById('logoutForm').submit();">
												<span class="material-symbols-outlined" style="margin-right: 8px;">logout</span>
												<span> Đăng xuất</span>
											</a>

										</div>
									</li>
									<li class="nav-item-header dropdown" th:unless="${session.account != null}" style="margin-left: 60px;">
										<a class="nav-link-header d-flex align-items-center" href="#" id="navbarDropdown01" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
										   style="color: rgb(0, 0, 160); text-decoration: none;">
											<span class="material-symbols-outlined">person_2</span>
											<span style="font-size: 16px">Tài khoản</span>
											<span class="material-symbols-outlined expand_more" id="expand_more_02">expand_more</span>

										</a>

										<div aria-labelledby="navbarDropdown" class="dropdown-menu" style="weight: 0px; height: 163px; border-radius: 10px;">
											<a class="dropdown-item d-flex align-items-center justify-content-center" th:href="@{/customer/loginaccount}"
											   style="color: rgb(0, 0, 160); width: 240px; border: 1px solid #d7ebff; border-radius: 50px; margin: 10px"
											   onmouseover="this.style.backgroundColor='#d7ebff'; this.style.boxShadow='0px 6px 8px rgba(0, 0, 0, 0.2)';"
											   onmouseout="this.style.backgroundColor='transparent'; this.style.boxShadow='0px 0px 0px rgba(0, 0, 0, 0)';">
												<span class="material-symbols-outlined">login</span>
												<span style="margin-left: 8px;">Đăng nhập</span>
											</a>
											<a class="dropdown-item d-flex align-items-center justify-content-center" th:href="@{/customer/registeraccount}"
											   style="color: rgb(0, 0, 160); width: 240px; border: 1px solid #d7ebff; border-radius: 50px; margin: 10px"
											   onmouseover="this.style.backgroundColor='#d7ebff'; this.style.boxShadow='0px 6px 8px rgba(0, 0, 0, 0.2)';"
											   onmouseout="this.style.backgroundColor='transparent'; this.style.boxShadow='0px 0px 0px rgba(0, 0, 0, 0)';">
												<span class="material-symbols-outlined">app_registration</span>
												<span style="margin-left: 8px;">Đăng ký</span>
											</a>

											<a class="dropdown-item d-flex align-items-center justify-content-center" th:href="@{/customer/login/google}"
											   style="color: rgb(0, 0, 160);width: 240px; border: 1px solid #d7ebff; border-radius: 50px; margin: 10px;"
											   onmouseover="this.style.backgroundColor='#d7ebff'; this.style.boxShadow='0px 6px 8px rgba(0, 0, 0, 0.2)';"
											   onmouseout="this.style.backgroundColor='transparent'; this.style.boxShadow='0px 0px 0px rgba(0, 0, 0, 0)';">
												<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1711636579/PHOTO_LIST/icon/google.png"
													 style="weight: 28px; height: 28px">
												<span style="margin-left: 8px;">Đăng nhập bằng Google</span>
											</a>
										</div>
									</li>
									<!--								<li class="nav-item" th:if="${session.account != null}" style="width: 123px;">-->
									<!--									<p></p>-->
									<!--								</li>-->
								</ul>
							</div>
						</div>
					</div>


				</div>
		</div>

    </header>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous">
	</script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous">
	</script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous">
	</script>
<script>
	function toggleIcon() {
        var expandMore = document.getElementById('expand_more');
        var expandLess = document.getElementById('expand_less');

        if (expandMore.style.display === 'none') {
            expandMore.style.display = 'block';
            expandLess.style.display = 'none';
        } else {
            expandMore.style.display = 'none';
            expandLess.style.display = 'block';
        }
    }
</script>


</body>
</html>
