<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng kí tài khoản</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Các thư viện Thymeleaf đã được thêm -->

	<!--Thêm đoạn javascript bên dưới để có thể thực hiện dropdown Account	?\\-->
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<style>
		
		body { background-color: #f8f9fa  }
		
    .form-container {

        width: 740px;
        height : 650px;
        border-radius: 15px;
        margin-top: 20px;
	    margin-bottom: 20px;
    }

    .btn-register{
   	 	background-color: #3448c5;
   	 	box-shadow: 0px 4px 6px rgba(0, 0.4, 0, 0.2);
   	}
   	.btn-register:hover {
   	 	background-color: #211f7f;
   	 	box-shadow: 0px 6px 8px rgba(0, 0.4, 0, 0.2);
   	}

	.text-center{
		color: rgb(2,88,155);
	}
	.form-control {
		border-radius: 50px
	}
	h3 {
		margin-top: 3px;
		margin-bottom: 15px;
	}
	
	.navbar-nav {
			display: frex;
		}
		.navbar-nav-left {
			width: 70%;
		}
		.navbar-nav-right {
			width: 30%;
		}
		.nav-link {
			display: flex;
      		align-items: center;
      		column-gap: 0.5rem;
      		width: fit-content;
		}
		.move-right {
			margin-left: auto;
			display: flex;
			float: right;
		}
		.material-symbols-outlined{
			color: rgb(2,88,155);
		}
		.form-container {
			box-shadow: 0 8px 10px rgb(226, 226, 226);
			
		}

		#togglePassword {
			width: 10px;
			height: 10px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border-radius: 50%;
			box-shadow: 0 0 0 1px #5591c5;
			margin-right: 5px;
		}

		#togglePassword:checked {
			box-shadow: 0 0 0 1px #d7ebff, 0 0 0 4px #d7ebff;
		}

		.alert-success {
			color: rgb(91,181,111);
		}
		.alert-danger {
			color: rgb(247,80,80);
		}
	</style>
</head>
<body>
	<div th:replace="layout/header :: header"></div>
	<!-- Hiển thị thông báo nếu có -->
	<div th:if="${param.message}" class="alert"
		 th:classappend="${#strings.containsIgnoreCase(param.message, 'thành công') ? 'alert-success' : 'alert-danger'}"
		 onload="changeColor(this)" id="myAlert">
		<span th:text="${param.message}" style="font-weight: bold; justify-content: center; display: flex"></span>
	</div>

    <div class="container mt-4 mb-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                
                <!--Khung hiển thị nội dung!-->
                <div class="form-container" style="background-color: white;">
					<div class="row-01" style="display: flex;" >
						<div class="col-01 d-flex align-items-center justify-content-center" style="width: 320px; height: 650px;">
							<div class="col-01 d-flex align-items-center justify-content-center" style="width: 220px">
								<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1711973851/PHOTO_LIST/register%20for/register_for.jpg" alt=""
									 style="width: 320px; height: 650px; border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
							</div>
						</div>
						<div class="col-02 d-flex align-items-center justify-content-center" style="width: 420px; height: 650px;">
							<form th:action="@{/customer/registeraccount}" method="post" style="width: 380px;  margin-right: 20px; margin-left: 20px">
								<h4 class="text-center" style="margin-bottom: 20px; color: rgb(33,31,127); font-family: Verdana;">Đăng ký tài khoản!</h4>
								<div class="form-group">
									<label for="username" style="font-weight: 500;">Tên tài khoản:</label>
									<input type="text" class="form-control" id="username" name="username" required>
								</div>
								<div class="form-group" style="font-weight: 500;">
									<label for="email">Email:</label>
									<input type="email" class="form-control" id="email" name="email" required>
								</div>
								<div class="form-group" style="font-weight: 500;">
									<label for="password">Mật khẩu:</label>
									<input type="password" class="form-control" id="password" name="password" required>
								</div>
								<div class="form-group" >
									<input type="checkbox" id="togglePassword" style="margin-top: 20px;"> Hiển thị mật khẩu
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-register"

											style="font-weight: bold; width:380px; color: white; border-radius: 50px; margin-top: 10px">Đăng ký</button>
								</div>
								<!-- Thêm div mới này cho chữ 'or' và hai dòng kẻ ngang -->
								<div style="display: flex; align-items: center; justify-content: center; margin-top: 10px; margin-bottom: 10px;">
									<hr style="flex-grow: 1; border-top: 1px solid ; margin-left: 7px; color: #a2abb4;">
									<span style="margin: 0 15px; color: #a2abb4;">Hoặc</span>
									<hr style="flex-grow: 1; border-top: 1px solid ; margin-right: 7px; color: #a2abb4;">
								</div>
								<div class="text-center d-flex align-items-center justify-content-center">
									<!-- Thêm nút đăng nhập bằng Google -->
									<a class="dropdown-item d-flex align-items-center justify-content-center" th:href="@{/customer/login/google}"
									   style="color: rgb(0, 0, 160); width: 380px; border: 1px solid #d7ebff; border-radius: 50px;"
									   onmouseover="this.style.backgroundColor='#d7ebff'; this.style.boxShadow='0px 6px 8px rgba(0, 0, 0, 0.2)';"
									   onmouseout="this.style.backgroundColor='transparent'; this.style.boxShadow='0px 0px 0px rgba(0, 0, 0, 0)';">
										<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1711636579/PHOTO_LIST/icon/google.png"
											 style="weight: 28px; height: 28px">
										<span style="margin-left: 8px;">Đăng nhập bằng Google</span>
									</a>
								</div>
								<div class="text-signup d-flex align-items-center justify-content-center" style="margin-top: 30px; margin-bottom: 10px;">
									<p style="margin: 0 0 0px">Bạn đã có tài khoản?</p>
									<a class="row-02" th:href="@{/customer/loginaccount}"
									   style="display: flex; text-decoration: none; margin-left: 8px;" >
										<span style="color:rgb(0, 0, 160); font-weight: bold; font-style: italic">Đăng nhập</span>
									</a>
								</div>
<!--									                    <div class="form-group">-->
<!--									                        <label for="address" style="color: rgb(2,88,155);">Địa chỉ:</label>-->
<!--									                        <input type="text" class="form-control" id="address" name="address" required>-->
<!--									                    </div>-->
								<!--						<div class="form-group">-->
								<!--							<label for="phoneNumber" style="color: rgb(2,88,155);">Số điện thoại:</label>-->
								<!--							<input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required>-->
								<!--						</div>-->
								<!--	                    <div class="form-group">-->
								<!--	                        <label for="firstName" style="color: rgb(2,88,155);">Tên:</label>-->
								<!--	                        <input type="text" class="form-control" id="firstName" name="firstName">-->
								<!--	                    </div>-->
								<!--	                    <div class="form-group">-->
								<!--	                        <label for="lastName" style="color: rgb(2,88,155);">Họ:</label>-->
								<!--	                        <input type="text" class="form-control" id="lastName" name="lastName">-->
								<!--	                    </div>-->
								<!--	                    <div class="form-group">-->
								<!--	                        <label for="gender" style="color: rgb(2,88,155);">Giới tính:</label>-->
								<!--	                        <select class="form-control" id="gender" name="gender">-->
								<!--	                            <option value="Nam">Nam</option>-->
								<!--	                            <option value="Nữ">Nữ</option>-->
								<!--	                        </select>-->
								<!--	                    </div>-->
								<!--	                    <div class="form-group">-->
								<!--	                        <label for="dob" style="color: rgb(2,88,155);">Ngày sinh:</label>-->
								<!--	                        <input type="date" class="form-control" id="dob" name="dob" required>-->
								<!--	                    </div>-->
							</form>
						</div>
					</div>
                </div>          
            </div>
        </div>
    </div>
    <div th:replace="layout/footer :: footer"></div>
	<script>
		var password = document.getElementById('password');
		var togglePassword = document.getElementById('togglePassword');

		togglePassword.addEventListener('click', function () {
			// Kiểm tra kiểu hiện tại và đổi kiểu input
			var type = password.type === 'password' ? 'text' : 'password';
			password.type = type;
		});
	</script>
	<script>
		var togglePassword = document.getElementById('togglePassword');

		togglePassword.addEventListener('click', function () {
			if (this.checked) {
				this.style.backgroundColor = '#5591c5';
			} else {
				this.style.backgroundColor = '';
			}
		});
	</script>
	<script>
		// Đặt thời gian cho alert
        setTimeout(function() {
            document.getElementById('myAlert').style.display = 'none';
        }, 10000);  // Alert sẽ biến mất sau 10 giây
	</script>
</body>
</html>
