<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Xem danh sách đơn hàng</title>
	<!-- Phải thêm popper để không bị lỗi dropdown-menu -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <!-- Đường dẫn tới các tệp CSS của Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
		
		body { background-color: #f8f9fa  }
		
    	h3 {
        	text-align: center;
        	margin-top: 3px;
        	margin-bottom: 20px;  
        	color: rgb(2,88,155);     	
    	}
    	
    	.table {
		    border-radius: 15px; /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
		}
		.container-body {
        	padding: 20px;
        	margin-top: 40px;
        	margin-bottom: 40px;
        	border-radius: 15px;
        	background-color: white;
		}

	    .navbar-nav {
			display: frex;
		}
		.navbar-nav-left {
			width: 70%;
		}
		.navbar-nav-right {
			width: 30%;
		}
		.nav-link {
			display: flex;
      		align-items: center;
      		column-gap: 0.5rem;
      		width: fit-content;
		}
		.move-right {
			margin-left: auto;
			display: flex;
			float: right;
		}

		
		.container-body {
			box-shadow: 0 8px 10px rgb(226, 226, 226);
		}

		.material-symbols-outlined.info{
			color: grey;
		}

		.material-symbols-outlined.info:hover {
		 	color: rgb(2,88,155);
		}

		.material-symbols-outlined.search{
			color: rgb(2,88,155);
		}

		.badge {
			border-radius: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 25px;
			width: auto;
		}

		.frame-number {
			display: flex;
    		justify-content: center;
			border-radius: 20px
		}

		.page-link {
            height: 40px;
            color: rgb(2,88,155);
            border: #f8f9fa;
            border-radius: 10px !important;
            margin: 2px;
        }
        .page-item.active .page-link {
            background-color: #e0f3ff;
            color: rgb(2,88,155);
        }

        .page-link:hover {
            background-color: #e0f3ff;
        }

		.alert-success {
			color: rgb(91,181,111);
		}
		.alert-danger {
			color: rgb(247,80,80);
		}

		/* Style cho pop up */
        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            z-index: 9999;
            height: auto;
        }
		/* Style cho lớp phủ */
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9998;
        }

		.btn-close-popup {
			border: none;
			border-radius: 10px;
			margin: 15px;
			background-color: #3f6ad8;
			color: white;
			font-weight: bold;
			width: 50px;
			height: 35px;
		}
		.btn-close-popup:hover {
			color: white;
		}

		.btn-search{
			color: #5390f5;
			border-radius: 50px;
			border: 1px solid #5390f5;
			background-color: white;
			font-weight: bold;
			width: 180px;
		}
		.btn-search:hover {
			color: white;
			border-radius: 50px;
			border: 1px solid #5390f5;
			background-color: #5390f5;
			font-weight: bold;
		}

		.btn.btn-filter-status{
            border: 1px solid #e5edf4;
            height: 70px;
            width: 220px;
            margin-right: 30px;
            box-shadow: 0px 0px 4px rgba(192, 192, 192, 0.3);
            color: grey;
            border-radius: 15px;
            font-weight: bold;
        }

        .btn.btn-filter-status:hover, .btn.btn-filter-status:focus{
            box-shadow: 0px 0px 8px rgba(70, 130, 180, 0.5);
            border: none;
            color: white;
            background-color: #538abe;
            border-radius: 15px;
            font-weight: bold;
        }

        .btn.btn-filter-status:active{
            background-color: #3f6ad8;
            border-radius: 15px;
            font-weight: bold;
        }

        .material-symbols-outlined:nth-child(1) {
            display: inline; /* Hiển thị biểu tượng expand_more */
        }

        .material-symbols-outlined:nth-child(2) {
            display: none; /* Ẩn biểu tượng expand_less */
        }
	</style>
</head>
<body>
	<div th:replace="~{layout/header :: header}"></div>

	<!-- Lớp phủ -->
	<div class="overlay" id="overlay"></div>

	<!-- Hiển thị thông báo nếu có -->
	<div th:if="${param.message}" class="popup" id="popup">
		<div class="row-announce" style="text-align: center">
			<span style="color: #5b5a7a; font-weight: bold; display: flex; justify-content: center" th:text="${param.message}"></span>
		</div>
		<div class="row-close d-flex align-items-center justify-content-center">
			<button class="btn btn-close-popup" onclick="closePopup()">Ok</button>
		</div>
	</div>

	<!--Nếu không có đơn hàng nào thì chuyển về trang này-->
	<div class="container"  th:if="${orders.isEmpty() && searchKeyword == null && status == null && dateOrderStr == null}" style="padding: 0px">
		<div class="container-body" style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 0px; height: 350px">
			<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1713847596/order/order-empty.png" alt="" style="width: 180px;">
			<div class="row d-flex align-items-center justify-content-center">
				<p style="margin: 0px; color: grey; font-weight: bold; padding-bottom: 30px">Chưa có đơn hàng</p>
			</div>
		</div>
	</div>

	<!--Nếu không tìm thấy đơn hàng thì chuyển về trang này-->
	<div class="container"  th:if="${orders.isEmpty() && (searchKeyword != null || status != null || dateOrderStr != null)}" style="padding: 0px">
		<div class="container-body" style="padding: 0px">
			<div class="col-00">
				<h6 style="color: #211f7f; align-items: center;  margin: 0px 5px 0px 0px; padding: 20px 0px 0px 20px; font-family: Verdana; font-weight: bold">Đơn hàng của tôi</h6>
				<div class="row-search d-flex align-items-center justify-content-center" style="margin-top: 20px">
					<div class="col-8" style="display: flex; align-items:center; justify-content: center; width: 720px; margin: 0px">
						<div class= "search"
							 style="display: flex; justify-content: center; border-radius: 50px; background-color: white; align-items: center; width: 720px; height: 40px; border: 1px solid #cecece;
									transition: box-shadow 0.3s ease; "
							 onmouseover="this.style.boxShadow='0px 4px 6px rgba(0, 0, 0, 0.1)';"
							 onmouseout="this.style.boxShadow='none';">
							<span class="material-symbols-outlined search" style="margin: 10px; color: rgb(2,88,155);">search</span>
							<form class="form-inline my-2 my-lg-0" th:action="@{/vieworders}" method="GET" style="display: flex; margin: 0px; border-top-right-radius: 50px; border-bottom-right-radius: 50px;">
								<input class="form-control mr-sm-2" type="search" name="searchKeyword" placeholder="Tìm kiếm theo mã đơn, tên người mua..." style="width: 676px; height: 35px; border: none; outline: none; border-top-right-radius: 50px; border-bottom-right-radius: 50px;">
							</form>
						</div>
					</div>
					<div class="col-4" style="padding: 0px; display: flex; align-items:center; justify-content: center; width: 700px; margin: 0px">
						<form th:action="@{/vieworders}" method="get" class="form-inline">
							<div class="form-group">
								<label for="dateOrder" class="sr-only">Tìm theo ngày đặt hàng</label>
								<input type="date" class="form-control" id="dateOrder" name="dateOrderStr" placeholder="YYYY-MM-DD" th:value="${dateOrderStr}" style="border-radius: 50px; border: 1px solid #cecece; width: 150px; color: grey;">
							</div>
							<button type="submit" class="btn btn-search" style="margin-left: 10px">Tìm kiếm</button>
						</form>
					</div>
				</div>

				<div class="row-03 d-flex align-items-center" style="padding: 0px 20px; justify-content: space-between; margin: 30px 0px 30px 0px">
					<div class="col-dropdown d-flex align-items-center" style="height: 70px;">
						<div class="dropdown-filter">
							<button class="btn btn-filter-status d-flex align-items-center justify-content-center" type="button" id="statusDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Lọc theo trạng thái
								<span class="material-symbols-outlined" style="margin-left: 3px">expand_more</span>
								<span class="material-symbols-outlined" style="margin-left: 3px">expand_less</span>
							</button>
							<div class="dropdown-menu" aria-labelledby="statusDropdown">
								<a class="dropdown-item" th:href="@{/vieworders}">Tất cả</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=0, page=1)}">Chờ xác nhận</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=1, page=1)}">Chờ lấy hàng</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=2, page=1)}">Đang giao</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=3, page=1)}">Đã giao</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=4, page=1)}">Đã hủy đơn</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=5, page=1)}">Yêu cầu trả hàng</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=6, page=1)}">Xử lý trả hàng</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=7, page=1)}">Trả hàng thành công</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=8, page=1)}">Yêu cầu trả hàng bị từ chối</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=9, page=1)}">Không nhận hàng</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=10, page=1)}">Đã nhận hàng</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row-no d-flex align-items-center justify-content-center" style="margin: 0px 20px; padding-top: 30px; border-top: 1px solid #cecece">
					<p style="margin: 0px; color: grey; font-weight: bold; padding-bottom: 10px">Không tìm thấy đơn hàng theo từ khóa</p>
				</div>
				<div class="row-no d-flex align-items-center justify-content-center">
					<img src="https://res.cloudinary.com/dylwewmt0/image/upload/v1713847596/order/order-empty.png" alt="" style="width: 180px;">
				</div>
			</div>
		</div>
	</div>

    <div class="container" th:if="${!orders.isEmpty()}" style="padding: 0px">
		<div class="container-body" style="padding: 0px">
			<div class="col-00">
				<h6 style="color: #211f7f; align-items: center;  margin: 0px 5px 0px 0px; padding: 20px 0px 0px 20px; font-family: Verdana; font-weight: bold">Đơn hàng của tôi</h6>

				<div class="row-search d-flex align-items-center justify-content-center" style="margin-top: 20px">
					<div class="col-8" style="display: flex; align-items:center; justify-content: center; width: 720px; margin: 0px">
						<div class= "search"
							 style="display: flex; justify-content: center; border-radius: 50px; background-color: white; align-items: center; width: 720px; height: 40px; border: 1px solid #cecece;
									transition: box-shadow 0.3s ease; "
							 onmouseover="this.style.boxShadow='0px 4px 6px rgba(0, 0, 0, 0.1)';"
							 onmouseout="this.style.boxShadow='none';">
							<span class="material-symbols-outlined search" style="margin: 10px; color: rgb(2,88,155);">search</span>
							<form class="form-inline my-2 my-lg-0" th:action="@{/vieworders}" method="GET" style="display: flex; margin: 0px; border-top-right-radius: 50px; border-bottom-right-radius: 50px;">
								<input class="form-control mr-sm-2" type="search" name="searchKeyword" placeholder="Tìm kiếm theo mã đơn, tên người mua..." style="width: 676px; height: 35px; border: none; outline: none; border-top-right-radius: 50px; border-bottom-right-radius: 50px;">
							</form>
						</div>
					</div>
					<div class="col-4" style="padding: 0px; display: flex; align-items:center; justify-content: center; width: 700px; margin: 0px">
						<form th:action="@{/vieworders}" method="get" class="form-inline">
							<div class="form-group">
								<label for="dateOrder" class="sr-only">Tìm theo ngày đặt hàng</label>
								<input type="date" class="form-control" id="dateOrder" name="dateOrderStr" placeholder="YYYY-MM-DD" th:value="${dateOrderStr}" style="border-radius: 50px; border: 1px solid #cecece; width: 150px; color: grey;">
							</div>
							<button type="submit" class="btn btn-search" style="margin-left: 10px">Tìm kiếm</button>
						</form>
					</div>
				</div>

				<div class="row-03 d-flex align-items-center" style="padding: 0px 20px; justify-content: space-between; margin: 30px 0px 30px 0px">
					<div class="col-dropdown d-flex align-items-center" style="height: 70px;">
						<div class="dropdown-filter">
							<button class="btn btn-filter-status d-flex align-items-center justify-content-center" type="button" id="statusDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Lọc theo trạng thái
								<span class="material-symbols-outlined" style="margin-left: 3px">expand_more</span>
								<span class="material-symbols-outlined" style="margin-left: 3px">expand_less</span>
							</button>
							<div class="dropdown-menu" aria-labelledby="statusDropdown">
								<a class="dropdown-item" th:href="@{/vieworders}">Tất cả</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=0, page=1)}">Chờ xác nhận</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=1, page=1)}">Chờ lấy hàng</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=2, page=1)}">Đang giao</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=3, page=1)}">Đã giao</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=4, page=1)}">Đã hủy đơn</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=5, page=1)}">Yêu cầu trả hàng</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=6, page=1)}">Xử lý trả hàng</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=7, page=1)}">Trả hàng thành công</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=8, page=1)}">Yêu cầu trả hàng bị từ chối</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=9, page=1)}">Không nhận hàng</a>
								<a class="dropdown-item" th:href="@{/vieworders(status=10, page=1)}">Đã nhận hàng</a>
							</div>
						</div>
					</div>
				</div>

				<div class="next-table only-bottom-border" style="margin-top: 20px">
					<div class="next-table-inner">
						<div class="next-table-header" style="height: 50px; border-top: 1px solid #cecece; background-color: #f2f5f6">
							<div class="next-table-header-inner">
								<table>
									<colgroup style="width: 1020px;">
										<col style="width: 15%;">
										<col style="width: 15%;">
										<col style="width: 15%;">
										<col style="width: 20%;">
										<col style="width: 20%;">
										<col style="width: 10%;">
										<col style="width: 5%;">
									</colgroup>
									<tbody>
									<tr>
										<th rowspan="1" class="next-table-header-node first" style="padding: 10px 10px; text-align: center">
											<div class="next-table-cell-wrapper">Đơn hàng số</div>
										</th>
										<th rowspan="1" class="next-table-header-node " style="padding: 10px 10px; text-align: center;">
											<div class="next-table-cell-wrapper">Ngày đặt hàng</div>
										</th>
										<th rowspan="1" class="next-table-header-node " style="padding: 10px 10px; text-align: center">
											<div class="next-table-cell-wrapper">Sản phẩm</div>
										</th>
										<th rowspan="1" class="next-table-header-node " style="padding: 10px 10px; text-align: center">
											<div class="next-table-cell-wrapper">Trạng thái</div>
										</th>
										<th rowspan="1" class="next-table-header-node " style="padding: 10px 10px; text-align: center">
											<div class="next-table-cell-wrapper">Thanh toán</div>
										</th>
										<th rowspan="1" class="next-table-header-node " style="text-align: right; padding: 10px 10px;">
											<div class="next-table-cell-wrapper">Tổng tiền</div>
										</th>
										<th rowspan="1" class="next-table-header-node last" style="padding: 10px 10px;">
											<div class="next-table-cell-wrapper"></div>
										</th>
									</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="next-table-body">
							<table>
								<colgroup style="width: 1020px;">
									<col style="width: 15%;">
									<col style="width: 15%;">
									<col style="width: 15%;">
									<col style="width: 20%;">
									<col style="width: 20%;">
									<col style="width: 10%;">
									<col style="width: 5%;">
								</colgroup>
								<tbody>
								<tr th:each="order : ${orders.content}" style="border-top: 1px solid #cecece; height: 150px" onmouseover="this.style.backgroundColor='#f2f5f6';" onmouseout="this.style.backgroundColor='transparent';">
									<td rowspan="1" class="next-table-header-node first" th:text="${order.id}" style="padding: 10px 10px; text-align: center"></td>
									<td rowspan="1" class="next-table-header-node " th:text="${#temporals.format(order.dateOrder.toLocalDateTime(), 'dd/MM/yyyy')}" style="padding: 10px 10px; text-align: center"></td>
									<td rowspan="1" class="next-table-header-node " style="padding: 10px 20px; text-align: center;">
										<img th:src="${order.orderitems[0].book.bookImages[0].path}" width="70px" style="display: block; margin: auto;">
									</td>
									<td rowspan="1" class="next-table-header-node" style="padding: 10px 10px; text-align: center">
										<span th:switch="${order.status}" class="d-flex align-items-center justify-content-center">
											<span th:case="0" class="badge badge-success" style="height: 30px; padding: 5px 8px">Chờ xác nhận</span>
											<span th:case="1" class="badge badge-info" style="height: 30px; padding: 5px 8px">Chờ lấy hàng</span>
											<span th:case="2" class="badge badge-primary" style="height: 30px; padding: 5px 8px">Đang giao</span>
											<span th:case="3" class="badge badge-success" style="height: 30px; padding: 5px 8px">Đã giao</span>
											<span th:case="4" class="badge badge-secondary" style="height: 30px; padding: 5px 8px">Đã hủy đơn</span>
											<span th:case="5" class="badge badge-warning" style="height: 30px; padding: 5px 8px">Yêu cầu trả hàng</span>
											<span th:case="6" class="badge badge-warning" style="height: 30px; padding: 5px 8px">Xử lý trả hàng</span>
											<span th:case="7" class="badge badge-success" style="height: 30px; padding: 5px 8px">Trả hàng thành công</span>
											<span th:case="8" class="badge badge-danger" style="height: 30px; padding: 5px 8px">Yêu cầu trả hàng bị từ chối</span>
											<span th:case="9" class="badge badge-danger" style="height: 30px; padding: 5px 8px">Không nhận hàng</span>
											<span th:case="10" class="badge badge-success" style="height: 30px; padding: 5px 8px">Đã nhận hàng</span>
											<span th:case="*" style="height: 30px">Trạng thái không hợp lệ</span>
										</span>
									</td>
									<td rowspan="1" class="next-table-header-node " style="padding: 10px 10px; text-align: center">
										<span th:switch="${order.paymentStatus.status}" class="d-flex align-items-center justify-content-center">
											<span th:case="0" class="badge none" style="color: #fe6502; font-weight: bold; border: 2px solid #fe6502; border-radius: 50px; height: 30px; padding: 5px 8px">Chưa thanh toán</span>
											<span th:case="1" class="badge success" style="color: green; font-weight: bold; border: 2px solid green; border-radius: 50px; height: 30px; padding: 5px 8px">
												<span class="material-symbols-outlined" style="margin-right: 5px">task_alt</span>Đã thanh toán</span>
											<span th:case="2" class="badge process" style="color: rgb(0,162,206); font-weight: bold; border: 2px solid rgb(0,162,206); border-radius: 50px; height: 30px; padding: 5px 8px">Xử lý hoàn tiền</span>
											<span th:case="3" class="badge success" style="color: green; font-weight: bold; border: 2px solid green; border-radius: 50px; height: 30px; padding: 5px 8px">
												<span class="material-symbols-outlined" style="margin-right: 5px">task_alt</span>Đã hoàn tiền</span>
											<span th:case="4" class="badge success" style="color: green; font-weight: bold; border: 2px solid green; border-radius: 50px; height: 30px; padding: 5px 8px">
												<span class="material-symbols-outlined" style="margin-right: 5px">task_alt</span>Không cần thanh toán</span>
											<span th:case="5" class="badge warning" style="color:rgb(0,162,206); font-weight: bold; border: 2px solid rgb(0,162,206); border-radius: 50px; height: 30px; padding: 5px 8px">Chờ thanh toán lại</span>
										</span>
									</td>

									<td rowspan="1" class="next-table-header-node " style="text-align: right; padding: 10px 10px; color: orangered; font-weight: bold;" th:text="${#numbers.formatInteger(order.totalPrice, 0, 'POINT') + ' đ'}"></td>
									<td rowspan="1" class="next-table-header-node last" style="padding: 10px 10px;">
										<a th:href="@{/vieworderitems(orderId=${order.id})}" class="detail" style="text-decoration: none; ">
											<span class="material-symbols-outlined info d-flex align-items-center justify-content-center">arrow_forward_ios</span>
										</a>
									</td>
								</tr>
								</tbody>
							</table>

							<!-- Thêm phần tử phân trang tại đây -->
							<div class="frame-number d-flex align-items-center" style="padding: 30px">
								<div th:if="${orders.totalPages > 1}">
									<ul class="pagination" style="margin: 0px">
										<!-- Nút 'Trang trước' -->
										<li th:if="${orders.hasPrevious()}" class="page-item">
											<a class="page-link" th:href="@{/vieworders(page=${orders.number}, size=${size}, sortOption=${sortOption}, searchKeyword=${searchKeyword}, dateOrderStr=${dateOrderStr}, status=${status})}">
												<span class="material-symbols-outlined">navigate_before</span>
											</a>
										</li>

										<!-- Trang đầu tiên -->
										<li class="page-item" th:classappend="${0 == orders.number ? 'active' : ''}">
											<a th:if="${0 != orders.number}" class="page-link" th:href="@{/vieworders(page=1, size=${size}, sortOption=${sortOption}, searchKeyword=${searchKeyword}, dateOrderStr=${dateOrderStr}, status=${status})}" th:text="1"></a>
											<span th:if="${0 == orders.number}" class="page-link" th:text="1"></span>
										</li>

										<!-- Dấu '...' nếu cần -->
										<li class="page-item" th:if="${orders.number > 2}">
											<span class="page-link">...</span>
										</li>

										<!-- Các trang xung quanh trang hiện tại -->
										<th:block th:each="pageNumber : ${#numbers.sequence(orders.number - 2 > 1 ? orders.number - 2 : 1, orders.number + 2 < orders.totalPages - 2 ? orders.number + 2 : orders.totalPages - 2)}">
											<li class="page-item" th:classappend="${pageNumber == orders.number ? 'active' : ''}">
												<th:block th:if="${pageNumber == orders.number}">
													<span class="page-link" th:text="${pageNumber + 1}"></span>
												</th:block>
												<th:block th:unless="${pageNumber == orders.number}">
													<a class="page-link" th:href="@{/vieworders(page=${pageNumber + 1}, size=${size}, sortOption=${sortOption}, searchKeyword=${searchKeyword}, dateOrderStr=${dateOrderStr}, status=${status})}" th:text="${pageNumber + 1}"></a>
												</th:block>
											</li>
										</th:block>

										<!-- Dấu '...' nếu cần -->
										<li class="page-item" th:if="${orders.number < orders.totalPages - 3}">
											<span class="page-link">...</span>
										</li>

										<!-- Trang cuối cùng -->
										<li class="page-item" th:classappend="${orders.totalPages - 1 == orders.number ? 'active' : ''}">
											<a th:if="${orders.totalPages - 1 != orders.number}" class="page-link" th:href="@{/vieworders(page=${orders.totalPages}, size=${size}, sortOption=${sortOption}, searchKeyword=${searchKeyword}, dateOrderStr=${dateOrderStr}, status=${status})}" th:text="${orders.totalPages}"></a>
											<span th:if="${orders.totalPages - 1 == orders.number}" class="page-link" th:text="${orders.totalPages}"></span>
										</li>

										<!-- Nút 'Trang sau' -->
										<li th:if="${orders.hasNext()}" class="page-item">
											<a class="page-link" th:href="@{/vieworders(page=${orders.number + 2}, size=${size}, sortOption=${sortOption}, searchKeyword=${searchKeyword}, dateOrderStr=${dateOrderStr}, status=${status})}">
												<span class="material-symbols-outlined">navigate_next</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    </div>
    <!-- Đường dẫn tới các tệp JavaScript của Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <div th:replace="~{layout/footer :: footer}"></div>
	<script>
		function closePopup() {
            document.getElementById("popup").style.display = "none";
            document.getElementById("overlay").style.display = "none";
        }

        // Hiển thị pop up và lớp phủ khi load trang
        if (document.getElementById("popup")) {
            document.getElementById("popup").style.display = "block";
            document.getElementById("overlay").style.display = "block";
        }
	</script>
	<script>
		['statusDropdown'].forEach(function(id) {
            var dropdown = document.getElementById(id);
            var expandMore = dropdown.querySelector('.material-symbols-outlined:nth-child(1)');
            var expandLess = dropdown.querySelector('.material-symbols-outlined:nth-child(2)');

            dropdown.addEventListener('click', function() {
                if (expandMore.style.display === 'none') {
                    expandMore.style.display = 'inline';
                    expandLess.style.display = 'none';
                } else {
                    expandMore.style.display = 'none';
                    expandLess.style.display = 'inline';
                }
            });

            dropdown.addEventListener('blur', function() {
                expandMore.style.display = 'inline';
                expandLess.style.display = 'none';
            });
        });

	</script>
</body>
</html>